.article {
	--article-padding: 43px;
	@media screen and (max-width: 1436px) {
		--article-padding: 80px;
	}
	@include media(tablet) {
		--article-padding: 20px;
	}

	--baseMarginBottom: 1em;
	--widgetBlockPadding: 2em 0 2em;
}

.article {
	width: 100%;
	max-width: 832px;
	margin: 0 auto;
	padding: 1.35em var(--article-padding);
	border-radius: $border-radius-large;
	background: $white;
	color: $black;
	@include media(tablet) {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.admin {
	padding: 24px 0 0;
	font-family: $Serif;
	font-size: 24px;
	line-height: 1.42;
	@include media(mobile) {
		font-size: 18px;
		line-height: 1.33;
	}
	.widget {
		margin-bottom: 1em;
		margin-bottom: var(--baseMarginBottom);
		padding: 2em 0 2em;
		padding: var(--widgetBlockPadding);
		&__title-block {
			margin-bottom: 10px;
		}
		&__subtitle {
			display: block;
			margin-bottom: 4px;
			font-family: $Circe;
			font-size: 0.667em;
			line-height: 1.25;
			color: rgba(0, 0, 0, 0.5);
			@include media(mobile) {
				display: none;
			}
		}
		&__title {
			display: block;
			font-family: $Circe-bold;
			font-weight: 400;
			font-size: 32px;
			line-height: 1.25;
			letter-spacing: -0.32px;
		}
		&__body {
			position: relative;
			display: block;
			padding: 36px 24px;
			border-radius: $border-radius-medium;
		}
	}
	.blockquote {
		&__body {
			background: f-color($Orange20, .2);
		}
		&__text {
			margin-bottom: 24px;
			padding-left: 13.5%;
			font-family: $Circe-bold;
			font-size: 40px;
			line-height: 1.2;
			letter-spacing: -0.4px;
			@include media(mobile) {
				padding-left: 0;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 9.5%;
				height: 49px;
				top: 36px;
				left: 3.2%;
				background: url('../../assets/images/icons/icon-quotes.svg') no-repeat;
				background-size: 100%;
				@include media(mobile) {
					display: none;
				}
			}
			@include media(mobile) {
				font-size: 24px;
				line-height: 1.17;
			}
		}
		figure {
			display: flex;
			align-items: center;
			margin: 0;
			padding-left: 23.2%;
			@include media(mobile) {
				padding-left: 0;
			}
			span {
				border-radius: $border-radius-small;
				box-shadow: none;
			}
		}
		&__pic {
			border-radius: $border-radius-small;
		}
		&__figcaption {
			margin: 0 0 0 16px;
			font-size: 1em;
			text-align: left;
			opacity: 1;
		}
		&__figcaption-text {
			margin: 0;
			font-family: $Circe-bold;
			font-size: 20px;
			line-height: 1.15;
			color: $black;
		}
	}
	.incut {
		&__body {
			background: f-color($Orange20, .2);
		}
		p {
			&:last-of-type {
				margin-bottom: 0;
			}
			font-family: $Circe-bold;
			font-size: 40px;
			line-height: 1.2;
			color: $black;
			@include media(mobile) {
				font-size: 24px;
				line-height: 1.17;
			}
		}
	}
	.service {
		&__body {
			padding: 16px 24px;
			background: $white;
			box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
			border: 1px solid f-color($Smoke10, 1);
		}
		&__title {
			position: relative;
			display: block;
			margin-bottom: 6px;
			padding-left: 35px;
			font-family: $Circe-bold;
			font-weight: 400;
			font-size: 24px;
			line-height: 1.34;
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 18px;
				height: 24px;
				top: 3px;
				left: 0;
				background: url('../../assets/images/icons/shield-op.svg') no-repeat;
				background-size: 100%;
			}
		}
		&__row {
			display: flex;
			margin-bottom: 9px;
		}
		&__row-item {
			flex: 0 0 auto;
			margin: 0 20px 0 0;
			font-family: $Circe;
			font-size: 16px;
			line-height: 1.25;
			&:last-of-type {
				margin-right: 0;
			}
			span {
				font-family: $Circe;
				font-size: 16px;
				line-height: 1.25;
			}
		}
		&__row-bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__sum {
			font-family: $Circe-bold;
			font-weight: 400;
			font-size: 40px;
			line-height: 1.25;
		}
		&__button {
			display: inline-flex;
			text-decoration: none;
			span {
				font-family: $Circe-bold;
				font-size: 18px;
				color: $white;
			}
		}
	}
	.vote {
		@include media(mobile) {
			padding: 36px 24px;
			border-radius: $border-radius-medium;
			background: f-color($blue, .2);
		}
		&__body {
			padding: 36px 24px;
			background: f-color($blue, .2);
			border-radius: $border-radius-little;
			@include media(mobile) {
				padding: 0;
				background: transparent;
			}
		}
		&__btn-block {
			margin-bottom: 8px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&__btn {
			display: inline-flex;
			align-items: center;
			justify-content: flex-start;
			min-height: 22px;
			padding: 8px;
			background: transparent;
			border: 1px solid f-color($Smoke90, 1);
			border-radius: $border-radius-little;
			color: f-color($Smoke90, 1);
			text-align: left;
			cursor: pointer;
			@include hover-opacity;
			&.is-active {
				background: f-color($Smoke90, 1);
				color: $white;
				&:hover {
					opacity: 1;
				}
			}
		}
		&__btn-text {
			display: block;
			font-family: $Circe;
			font-size: 18px;
			line-height: 1.33;
		}
		&__btn-percent {
			position: relative;
			margin-left: 12px;
			padding-left: 24px;
			&:before {
				content: "\2014";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
	.numeric {
		text-align: center;
		&__numeral-block {
			position: relative;
			display: inline-block;
			margin-bottom: 29px;
			&:before {
				content: "";
				display: block;
				position: absolute;
				height: 39px;
				bottom: 0;
				left: 24px;
				right: 24px;
				background:f-color($Orange20, 1);
			}
		}
		&__numeral {
			position: relative;
			font-weight: 600;
			font-size: 150px;
			line-height: .64;
			letter-spacing: 0.533333px;
		}
		&__sign {
			display: block;
			font-family: $Circe;
			font-size: 24px;
			line-height: 1.33;
			color: $grey-text;
			letter-spacing: -0.24px;
		}
	}
	.faq {
		&__body {
			padding: 0;
		}
		&__block {
			margin-bottom: 10px;
			background: f-color($Smoke10, .2);
			border-radius: $border-radius-little;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		&__question {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 16px 24px 16px 24px;
			cursor: pointer;
		}
		&__question-text,
		&__answer-text {
			margin-bottom: 0;
			font-family: $Circe;
		}
		&__question-text {
			flex: 0 1 100%;
			font-size: 24px;
			line-height: 1.33;
			letter-spacing: -0.24px;
		}
		&__question-plus {
			margin-left: 24px;
			&:before {
				transform: rotate(0);
				transition: all .2s .1s ease-in-out;
			}
		}

		.faq__block.is-open .faq__question-plus {
			&:before {
				transform: rotate(45deg);
				transition: all .2s ease-in-out;
			}
		}

		&__answer {
			position: relative;
			max-height: 0;
			overflow: hidden;
			transition: max-height .4s ease;
		}
		&__block.is-open .faq__answer {
			max-height: 10000px;
			transition: max-height 4s ease;
		}
		&__answer-text {
			position: relative;
			padding: 16px 72px 16px 24px;
			font-size: 16px;
			line-height: 1.25;
			color: f-color($Smoke90, 1);
			@include media(mobile) {
				padding: 16px 24px;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 24px;
				right: 24px;
				height: 1px;
				background: f-color($Smoke90, .2);
			}
		}
	}

	p,span,a,ul,ol,th,td {
		font-family: $Serif;
	}
	p,span,a,ul,ol {
		font-size: 24px;
		line-height: 1.42;
		@include media(mobile) {
			font-size: 18px;
			line-height: 1.33;
		}
	}

	h2,h3,h4,p,ul,ol,table,hr,figure {
		margin-bottom: 1em;
		margin-bottom: var(--baseMarginBottom);
		@include media(mobile) {
			margin-bottom: 32px;
		}
	}

	h2, h3, h4 {
		font-weight: 600;
	}

	h2 {
		padding-top: 1em;
		font-size: 36px;
		line-height: 1.05;
		letter-spacing: 0.27px;
		@include media(mobile) {
			margin: 24px 0 20px;
			font-size: 24px;
			line-height: 1.33;
		}
	}

	h3 {
		padding-top: 16px;
		font-size: 28px;
		line-height: 1.285;
		@include media(mobile) {
			margin: 24px 0 20px;
			font-size: 24px;
			line-height: 1.33;
		}
	}

	h4 {
		padding-top: 16px;
		font-size: 24px;
		line-height: 1.34;
		@include media(mobile) {
			margin: 24px 0 20px;
			font-size: 24px;
			line-height: 1.33;
		}
	}

	a {
		display: inline;
		color: $blue;
		text-decoration: underline;
	}

	ul,ol {
		padding-left: 10px;
	}

	ul {
		list-style: none;
		li {
			position: relative;
			padding-left: 22px;
			@include media(mobile) {
				padding-left: 22px;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 16px;
				left: 0;
				width: 6px;
				height: 6px;
				background: $black;
				line-height: 0;
				font-size: 0;
				border-radius: 50%;
			}
		}
	}

	ol {
		list-style: none !important;
		counter-reset: item;
		li {
			position: relative;
			display: flex;
			align-items: flex-start;
			&:before {
				content: counter(item) '.';
				counter-increment: item;
				margin-right: 10px;
			}
		}
	}

	li ul,li ol {
		margin-top: 26px;
		@include media(mobile) {
			margin-top: 20px;
		}
	}

	ul.num, ol.num {
		li {
			padding-left: 0;

			&:before {
				display: none;
			}
		}
	}

	table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		th, td {
			vertical-align: middle;
			padding: 16px;
			font-weight: 400;
			font-size: 20px;
			line-height: 1.52;
			text-align: left;
			border: 1px solid $black;
			@include media(mobile) {
				padding: 8px;
				font-size: 16px;
				line-height: 1.33;
				letter-spacing: .5px;
			}
		}
		th p,td p {
			font-size: 20px;
			line-height: 1.52;
			@include media(mobile) {
				font-size: 16px;
				line-height: 1.33;
				letter-spacing: .5px;
			}
		}
		td {
			vertical-align: top;
		}
		p {
			margin-bottom: 20px;
		}
	}

	figure {
		max-width: 100%;
		img,iframe {
			max-width: 100%;
			margin: 0 auto;
		}
		a {
			display: block;
		}
	}

	figure {
		&:first-child {
			margin-top: 0;
			span {
				margin-top: 0;
			}
		}
	}
	figure span {
		display: block;
		width: 100%;
		height: 400px;
		margin: 54px auto;
		border-radius: 22px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0 50%;
		font-size: 0;
		line-height: 1;
		@include media(mobile) {
			height: 300px;
			margin: 24px auto;
			border-radius: 16px;
		}
	}

	img {
		display: block;
		max-width: 100%;
		width: 100%;
		max-height: 360px;
		height: auto;
		min-height: 1px;
		margin: 54px auto;
		object-fit: cover;
		border-radius: $border-radius-medium;
		@include media(mobile) {
			max-height: 300px;
			margin: 24px auto;
			border-radius: 16px;
		}
	}

	.image-block {
		&--stretched {
			display: block;
			width: auto;
			max-width: none;
			margin-left: -16px;
			margin-left: calc((var(--article-padding) - 16px) * -1);
			margin-right: -16px;
			margin-right: calc((var(--article-padding) - 16px) * -1);
			@include media(tablet) {
				margin-left: 0;
				margin-right: 0;
			}
			img {
				width: 100%;
				max-height: none;

			}
		}
		&--with-background {
			padding: 48px 64px;
			background: f-color($Orange20, .2);
			border-radius: $border-radius-medium;
		}
	}

	figcaption {
		display: block;
		margin: 12px 0 0;
		font-family: $Circe;
		font-size: 14px;
		line-height: 1.43;
		opacity: .55;
		text-align: center;
		a {
			display: inline;
			font-family: $Circe;
			font-size: 14px;
			line-height: 1.43;
		}
	}

	iframe {
		display: block;
		max-width: 100%;
		min-width: 1px;
		min-height: 1px;
		max-height: 400px;
		margin: 54px auto;
		border-radius: 22px;
		box-shadow: 0 20px 40px #e4e4e4;
		@include media(mobile) {
			max-width: 100%!important;
			max-height: 300px;
			margin: 24px auto;
			border-radius: 16px;
		}
	}

	hr {
		display: block;
		padding-top: 1em;
		padding-top: var(--baseMarginBottom);
		border: 0;
		border-bottom: 1px solid f-color($Smoke90, .2);
	}

	code {
		display: block;
		font-family: $Circe;
		font-size: 14px;
		line-height: 1.42;
		background: f-color($Smoke10, .2);
		border-radius: $border-radius-medium;
		padding: 20px 20px 17px 20px;
		color: $black;
	}

	pre {
		margin-bottom: 1em;
		margin-bottom: var(--baseMarginBottom);
		background: f-color($Smoke10, .2);
		border-radius: $border-radius-medium;
		padding: 20px 20px 17px 20px;
		code {
			background: transparent;
			border-radius: 0;
			padding: 0;
		}
	}


}