.article-signature {
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;
	}
	&__soc-block {
		display: flex;
		align-items: center;
	}
	&__soc-link {
		margin-right: 32px;
		&:last-of-type {
			margin-right: 0;
		}
	}
	&__bottom {
		display: flex;
		align-items: center;
		font-family: $Circe-bold;
		font-size: 16px;
		line-height: 1.5;
		color: $Smoke60;
	}
	&__bottom-text {
		margin-left: 16px;
	}
	&__icon {
		width: 22px;
		height: 16px;
	}
	&__views-text {
		display: inline-block;
		margin-left: 4px;
	}
}