:root {
	.article-data {
		--article-data-direction: row;
		--article-data-padding: 0;
		--article-data-font-size: 16px;
		--article-data-line-height: 1.5;
		--article-data-color: #{f-color($Smoke60, 1)};
		--article-data-bg: transparent;
		--article-data-radius: 0;

		--article-data-item-first-flex: 0 0 auto;
		--article-data-item-last-flex: 0 1 100%;
		--article-data-item-margin: 0 1.15em 0 0;
		--article-data-item-first-margin: var(--article-data-item-margin);
		--article-data-item-last-margin: 0 0 0 0;

		--article-data-item-justify: flex-start;
	}

	.card .article-data {
		--article-data-direction: row-reverse;
		--article-data-color: #{$Smoke};

		--article-data-item-first-flex: 0 1 100%;
		--article-data-item-last-flex: 0 0 auto;
		--article-data-item-first-margin: 0;
		--article-data-item-last-margin: var(--article-data-item-margin);
		@include media(tablet) {
			--article-data-item-justify: flex-end;
		}
		@include media(mobile) {
			--article-data-font-size: 16px;
			--article-data-line-height: 1;
		}
	}

	.card-full .article-data {
		--article-data-direction: row;
		--article-data-padding: 0 22px 0 7px;
		--article-data-bg: #{f-color($Smoke60, .1)};
		--article-data-radius: #{$border-radius-small};
		--article-data-color: #{$Smoke};
		--article-data-item-margin: 0 1.48em 0 0;
		--article-data-item-first-margin: var(--article-data-item-margin);
		--article-data-item-last-margin: 0;
		@include media(tablet) {
			--article-data-item-justify: flex-start;
		}
		@include media(mobile) {
			--article-data-direction: row-reverse;
			--article-data-padding: 0;
			--article-data-item-first-flex: 0 1 100%;
			--article-data-item-last-flex: 0 0 auto;
			--article-data-item-first-margin: 0;
			--article-data-item-last-margin: var(--article-data-item-margin);
			--article-data-bg: none;
			--article-data-font-size: 14px;
			--article-data-line-height: 1.14;
		}
	}
	.card-row .article-data {
		--article-data-direction: row-reverse;
		--article-data-font-size: 14px;
		--article-data-line-height: 1.14;
		--article-data-color: #{$Smoke};

		--article-data-item-first-flex: 0 1 100%;
		--article-data-item-last-flex: 0 0 auto;
		--article-data-item-first-margin: 0;
		--article-data-item-last-margin: var(--article-data-item-margin);
		@include media(tablet) {
			--article-data-item-justify: flex-start;
		}
	}
}

.article-data {
	display: inline-flex;
	align-items: center;
	flex-direction: row;
	flex-direction: var(--article-data-direction);
	padding: 0;
	padding: var(--article-data-padding);
	font-family: $Circe-bold;
	font-size: 16px;
	font-size: var(--article-data-font-size);
	line-height: 1.5;
	line-height: var(--article-data-line-height);
	color: $Smoke60;
	color: var(--article-data-color);
	background: transparent;
	background: var(--article-data-bg);
	border-radius: 0;
	border-radius: var(--article-data-radius);
	overflow: hidden;
	&__item {
		display: inline-flex;
		align-items: center;
		flex: 0 0 auto;
		margin: 0 1.15em 0 0;
		margin: var(--article-data-item-margin);
		&:first-child {
			justify-content: flex-start;
			justify-content: var(--article-data-item-justify);
			flex: 0 0 auto;
			flex: var(--article-data-item-first-flex);
			margin: 0 1.15em 0 0;
			margin: var(--article-data-item-first-margin);
		}
		&:last-child {
			flex: 0 1 100%;
			flex: var(--article-data-item-last-flex);
			margin: 0 0 0 0;
			margin: var(--article-data-item-last-margin);
		}
	}
}