.aside-menu {
	font-family: $Circe-bold;
	font-size: 20px;
	line-height: 1.2;
	list-style: none;
	&__item {
		position: relative;
		margin-bottom: 7px;
		&_drop {
			margin-bottom: 0;
		}
	}
	&__link {
		position: relative;
		display: flex;
		padding: 12px;
		border-radius: $border-radius-little;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 8px;
			height: 14px;
			background: url('../../assets/images/icons/cursor-right-black.svg') no-repeat;
			background-size: 100%;
			top: 16px;
			right: 20px;
			opacity: 0;
		}
		&:hover {
			background: $white;
			&:after {
				opacity: 1;
			}
		}
	}
	&__drop &__link {
		&:after {
			opacity: .5;
			transform: rotate(90deg)
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
	&__icon {
		flex: 0 0 auto;
		margin-right: 12px;
	}
	&__item-name {
		flex: 0 1 100%;
		font-weight: 400;
	}
	&__drop-list {
		padding-left: 11%;
		list-style: none;
	}
	&__drop-list &__link {
		&:after {
			opacity: 0;
			transform: none
		}
		&:hover {
			&:after {
				opacity: 1;
			}
		}
	}
}