.aside {
	position: relative;
	z-index: 2;
	&__title {
		margin-bottom: 34px;
	}
	&__block {
		margin-bottom: 94px;
	}
	&__share {
		padding-top: 8px;
	}
}
.aside-bg {
	padding: 12px 10px 20px;
	border-radius: $border-radius-medium;
	background: $medium-grey;
}