.author {
	display: flex;
	align-items: center;
	font-family: $Circe-bold;
	font-size: 20px;
	line-height: 1.2;
	@include media(mobile) {
		font-size: 14px;
		line-height: 1.14;
	}
	&__avatar-block,
	&__company-avatar-block {
		flex-shrink: 0;
		flex-grow: 0;
		width: 36px;
		height: 36px;
		margin-right: 16px;
		border-radius: $border-radius-small;
		background: f-color($Orange20, .2);
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		overflow: hidden;
		font-size: 0;
		line-height: 1;
		text-align: center;
	}
	&__company-avatar-block {
		border-radius: $border-radius-round;
	}
	&__avatar,
	&__company-avatar {
		@include dinamic-bg;
	}
	&__avatar-initials {
		display: inline-block;
		vertical-align: middle;
		padding: 1px 0 0 1px;
		font-size: 11px;
		line-height: 36px;
		text-transform: uppercase;
	}
	&__data {
		flex-shrink: 1;
		flex-grow: 0;
		@include media(mobile) {
			flex: auto 0 0;
			width: 100%;
			min-width: 1px;
		}
	}
	&__name,
	&__company-name {
		display: block;
		max-height: 1em;
		overflow: hidden;
		@include media(mobile) {
			max-height: none;
		}
	}
	&__name {
		margin-top: .02em;
	}
	&__company {
		display: flex;
		align-items: center;
		height: 1.44em;
		margin-top: .42em;
	}
	&__company-avatar-block {
		width: 1.44em;
		height: 1.44em;
		margin-right: .428em;
	}
}