:root {
	.drop-down {
		&.top {
			--position-top: -10px;
			--position-right: auto;
			--position-bottom: auto;
			--position-left: 50%;
			--translate: translate(-50%,-100%);
		}
		&.top-start {
			--position-top: -10px;
			--position-right: auto;
			--position-bottom: auto;
			--position-left: 0;
			--translate: translate(0,-100%);
		}
		&.top-end {
			--position-top: -10px;
			--position-right: 0;
			--position-bottom: auto;
			--position-left: auto;
			--translate: translate(0,-100%);
		}
		&.right {
			--position-top: 50%;
			--position-bottom: auto;
			--translate: translate(-100%,-50%);
			@media screen and (min-width: 1550px) {
				--translate: translate(100%,-50%);
			}
		}
		&.right-start {
			--position-top: 0;
			--position-bottom: auto;
			--translate: translate(-100%,0);
			@media screen and (min-width: 1550px) {
				--translate: translate(100%,0);
			}
		}
		&.right-end {
			--position-top: auto;
			--position-bottom: 0;
			--translate: translate(-100%,0);
			@media screen and (min-width: 1550px) {
				--translate: translate(100%,0);
			}
		}
		&.right,&.right-start,&.right-end {
			--position-right: auto;
			--position-left: -10px;
			@media screen and (min-width: 1550px) {
				--position-right: -10px;
				--position-left: auto;
			}
		}
		&.bottom {
			--position-top: auto;
			--position-right: auto;
			--position-bottom: -10px;
			--position-left: 50%;
			--translate: translate(-50%,100%);
		}
		&.bottom-start {
			--position-top: auto;
			--position-right: auto;
			--position-bottom: -10px;
			--position-left: 0;
			--translate: translate(0,100%);
		}
		&.bottom-end {
			--position-top: auto;
			--position-right: 0;
			--position-bottom: -10px;
			--position-left: auto;
			--translate: translate(0,100%);
		}
		&.left {
			--position-top: 50%;
			--position-right: auto;
			--position-bottom: auto;
			--position-left: -10px;
			--translate: translate(-100%,-50%);
		}
		&.left-start {
			--position-top: 0;
			--position-right: auto;
			--position-bottom: auto;
			--position-left: -10px;
			--translate: translate(-100%,0);
		}
		&.left-end {
			--position-top: auto;
			--position-right: auto;
			--position-bottom: 0;
			--position-left: -10px;
			--translate: translate(-100%,0);
		}
	}
}

.drop-down {
	position: absolute;
	top: var(--position-top);
	right: var(--position-right);
	bottom: var(--position-bottom);
	left: var(--position-left);
	transform: var(--translate);
	width: 280px;
	max-height: 0;
	background: $white;
	box-shadow: $box-shadow20;
	border-radius: $border-radius-little;
	overflow: hidden;
	z-index: 2;
	transition: max-height .4s ease;
	&.is-open {
		max-height: 1000px;
		transition: max-height 4s ease;
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 14px 9px;
		list-style: none;
	}
	&__item {
		position: relative;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex: 0 0 auto;
		width: 100%;
		height: auto;
		margin-bottom: 2px;
		border-radius: $border-radius-little;
		&:hover {
			background: f-color($Smoke10, .2);
		}
	}
	&__btn {
		display: flex;
		width: 100%;
		align-items: center;
		padding: 13px 16px 11px 15px;
		font-family: $Circe-bold;
		font-size: 18px;
		line-height: 1.33;
		cursor: pointer;
	}
	&__icon {
		position: absolute;
		flex: 0 0 auto;
	}
	&__text {
		flex: 0 0 auto;
		padding-left: 32px;
	}
}