.wrap {
	width: 100%;
	max-width: 1476px;
	padding: 0 20px;
	height: 100%;
	margin: 0 auto;
	@include media(tablet) {
		padding: 0 24px;
	}
	@include media(mobile) {
		padding: 0 20px;
	}
}

.main {
	min-height: 100%;
	margin-bottom: -986px;
	padding-bottom: 986px;
	font-size: 20px;
	@include media(tablet) {
		margin-bottom: -970px;
		padding-bottom: 970px;
	}
	@include media(mobile) {
		font-size: 16px;
	}
}

.main-columns {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	@include media(tablet) {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
	}
	&__center {
		flex: 0 0 100%;
		@include media(tablet) {
			width: 100%;
			margin-bottom: .6em;
		}
		@include media(mobile) {
			flex: 0 0 100%;
			width: 100%;
			padding: 0;
		}
	}
	&__aside {
		display: none;
		flex: 0 0 24.17%;
		top: 0;
		margin-right: -7.2%;
		padding-top: 27px;
		color: $black;
		@media screen and (min-width: 1350px) {
			display: block;
		}
		@include media(tablet) {
			display: none;
		}
	}
}