.search {
	&__btn {
		display: block;
		width: 24px;
		height: 24px;
		background-image: url('../../assets/images/icons/icon-search-black.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		cursor: pointer;
	}
}