.slider-card {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 324px;
	width: 322px;
	background: $white;
	border: 1px solid $journal-very-light-gray;
	border-radius: $border-radius-medium;
	font-family: $Circe-bold;
	font-size: 18px;
	line-height: 1.33;
	color: $black;
	overflow: hidden;
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	transform: scale(1);
	transition: $ease-fast;
	&__media {
		position: relative;
		flex: 0 0 auto;
		height: 151px;
		overflow: hidden;
	}
	&__bg {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 50% 0;
	}
	&__info {
		flex: auto 0 1;
		height: 100%;
		padding: 22px 18px 0;
	}
	&__name {
		display: block;
		height: 96px;
		letter-spacing: 0.1px;
		font-weight: 400;
		overflow: hidden;
	}
	&__category {
		display: block;
		margin-top: 18px;
		font-size: 16px;
		line-height: 1;
		opacity: 0.5;
	}
}