.user {
	&__avatar-pic {
		display: block;
		width: 36px;
		height: 36px;
		border-radius: $border-radius-round;
		background-color: $orange;
		background-position: 50% 50%;
		background-size: cover;
		cursor: pointer;
	}
}