.article-page-section {
	margin-bottom: 3em;
	padding-right: 5%;
	@include media(tablet) {
		margin-bottom: 0;
		padding-right: 0;
		.wrap {
			padding: 0;
		}
	}
}

.article-page {
	padding-top: 120px;
	@include media(mobile) {
		padding-top: 0;
	}
	&__aside-menu {
		margin-bottom: 17px;
	}
	&__another-articles {
		padding-top: 9px;
	}
	&__article-top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1.2em;
		@include media(mobile) {
			display: block;
			margin-bottom: 11px;
		}
		.journal__time-icon-small {
			@media (prefers-color-scheme: dark) {
				@include media(mobile) {
					background-position: top left;
				}
			}
		}
	}
	&__title {
		margin-bottom: 24px;
		@include media(mobile) {
			margin-bottom: 32px;
		}
	}
	&__share-mobile {
		display: none;
		@include media(mobile) {
			display: flex;
			margin-bottom: 32px;
		}
	}
	&__article-data-mobile {
		display: none;
		@include media(mobile) {
			display: flex;
			align-items: baseline;
			padding-top: 4px;
			font-size: 14px;
			line-height: 1.14;
			color: f-color($Smoke40, 1);
		}
	}
	&__article-data-item {
		&:last-child {
			@include media(mobile) {
				margin-left: 8px;
				padding-left: 14px;
				&:before {
					content: "\2022";
					display: block;
					position: absolute;
					top: 4px;
					left: 0;
					font-size: 24px;
					line-height: 6px;
				}
			}
		}
	}
}

.article-page-recommended {
	padding: 40px 0 25px;
	background: $journal-promo-bg;
	overflow: hidden;
	@include media(mobile) {
		margin-top: 24px;
	}
	&__title {
		display: block;
		margin: 0 0 26px -444px;
		padding-left: 50%;
		font-family: $Serif;
		font-size: 48px;
		font-weight: 600;
		line-height: 1;
		@media all and (max-width: 1440px) {
			margin-left: 0;
			padding-left: 20px;
		}
		@include media(mobile) {
			padding-top: 32px;
			font-family: $Circe-bold;
			font-size: 36px;
			line-height: 1.33;
			font-weight: 400;
		}
	}
	&__slider {
		position: relative;
		padding-left: 50%;
		margin: 0 0 0 -444px;
		@media all and (max-width: 1440px) {
			margin-left: 0;
			padding-left: 20px;
		}
		@include media(tablet) {
			margin-left: 0;
			padding-left: 20px;
		}
	}
}