.main-page {
	padding-top: 9px;
	@include media(tablet) {
		padding-top: 7px;
	}
	@include media(mobile) {
		padding-top: 0;
	}
	&__title-block {
		margin-bottom: 32px;
	}
	&__major-section {
		margin-bottom: 156px;
		@include media(tablet) {
			margin-bottom: 79px;
		}
		@include media(mobile) {
			margin-bottom: 35px;
			.wrap {
				padding: 0 16px;
			}
		}
	}
	&__latest-news {
		margin-bottom: 161px;
		@include media(tablet) {
			margin-bottom: 63px;
		}
	}
	&__news {
		overflow: hidden;
	}
	&__tabs {
		margin-bottom: 48px;
		@include media(mobile) {
			margin: 0 0 24px 0;
			padding: 0;
		}
	}
	&__news-card {
		margin-bottom: 28px;
		@include media(mobile) {
			margin-bottom: 20px;
		}
	}
	&__rubrics {
		overflow: hidden;
		margin-bottom: 50px;
	}
	&__rubrics-title {
		margin-bottom: 24px;
		@include media(mobile) {
			margin-bottom: 21px;
		}
	}
	&__rubrics-row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-bottom: 50px;
		@include media(tablet) {
			height: 61px;
			margin: 0 -24px 50px;
			padding-left: 0;
			overflow: hidden;
		}
		@include media(mobile) {
			margin: 0 -20px 19px;
		}
	}
	&__rubrics-btns {
		display: flex;
		margin-bottom: 14px;
		@include media(tablet) {
			justify-content: flex-start;
			overflow-y: hidden;
			overflow-x: auto;
			-webkit-overflow-scrolling: auto;
			white-space: nowrap;
			height: 150%;
			padding: 0 24px;
		}
	}
	&__rubrics-btn {
		height: 60px;
		min-height: 1px;
		margin-right: 10px;
		&:last-of-type {
			margin-right: 0;
		}
		@include media(mobile) {
			height: 48px;
			padding: 12px 16px;
		}
	}
	&__rubrics-filters {
		flex: 0 0 auto;
		@include media(tablet) {
			display: none;
		}
	}
	&__rubrics-card {
		margin-bottom: 27px;
	}
	&__rubrics-btn-more {
		display: none;
		@include media(tablet) {
			display: block;
			margin: 24px auto 0;
			text-align: center;
		}
	}
	&__presentation {
		margin-bottom: 64px;
	}
	&__news-slider {
		margin-bottom: 96px;
		padding: 64px 0;
		border-radius: 50px;
		@include media(mobile) {
			padding: 24px 0 58px;
			border-radius: 20px;
		}
	}
	&__news-slider-title {
		margin-bottom: 74px;
		@include media(mobile) {
			margin-bottom: 34px;
		}
	}
}