.cdx-incut {
	padding: 45px 48px 36px 22px;
	border-radius: 20px;
	background: f-color($Orange20, .2);
	&__text {
		min-height: 158px;
		padding: 0;
		border: none;
		box-shadow: none;
		font-size: 40px;
		font-weight: 600;
	}
}


