.cdx-faq {
	&__question {
		padding-right: 45px;
	}
	&__group {
		position: relative;
	}
	&__group-iterator {
		display: block;
		position: absolute;
		top: 12px;
		left: -20px;
	}
	&__group-close {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
	&__group-close-icon {
		position: relative;
		display: block;
		width: 51px;
		height: 51px;
		cursor: pointer;
		&:before,&:after {
			content: "";
			display: block;
			position: absolute;
			top: 10px;
			right: 25px;
			width: 1px;
			height: 30px;
			background: f-color($black, 1);
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	&__add-button {
		height: 60px;
		font-family: $Circe;
		font-size: 18px;
		color: $white;
		background: $black;
		cursor: pointer;
		border-radius: $border-radius-little;
		border: none;
	}
}
