:root {
	--card-media-width: 100%;
	--card-media-height: 232px;
	--card-media-margin: 0 0 16px 0;
	--card-media-radius: 16px;
	--card-font-size: 24px;
	--card-line-height: 1.12;
	--card-title-margin: 0 0 16px 0;
	--card-data-width: auto;
	--card-data-opacity: .3;
	@include media(tablet) {
		--card-data-width: 100%;
	}
	@include media(mobile) {
		--card-title-margin: 0 0 14px 0;
		--card-font-size: 24px;
		--card-line-height: 1.12;
	}
	.card-full {
		--card-media-height: 545px;
		--card-media-margin: 0 0 20px 0;
		--card-media-radius: #{$border-radius-medium};
		--card-title-margin: 0;
		--card-data-opacity: 1;
		@include media(tablet) {
			--card-data-width: auto;
		}
		@include media(mobile) {
			--card-media-height: 240px;
			--card-media-margin: 0 0 8px 0;
			--card-data-opacity: .3;
			--card-title-margin: 0 0 5px 0;
			--card-font-size: 20px;
			--card-line-height: 1.2;
		}
	}
	.card-large {
		--card-media-height: 480px;
		--card-media-radius: 16px;
		--card-media-margin: 0 0 48px 0;
		--card-font-size: 32px;
		--card-line-height: 1.25;
		@include media(mobile) {
			--card-media-height: 320px;
			--card-media-margin: 0 0 24px 0;
			--card-font-size: 24px;
			--card-line-height: 1.17;
		}
	}
	.card-row {
		--card-media-width: 105px;
		--card-media-height: 105px;
		--card-media-margin: 0 16px 0 0;
		--card-media-radius: #{$border-radius-small};
		--card-font-size: 20px;
		--card-line-height: 1.2;
		--card-title-margin: 0 0 7px 0;
		@include media(tablet) {
			--card-title-margin: 0;
			--card-data-width: auto;
		}
	}
}

.card {
	position: relative;
	font-family: $Circe-bold;
	font-size: 24px;
	font-size: var(--card-font-size);
	line-height: 1.12;
	line-height: var(--card-line-height);
	font-weight: normal;
	&__media {
		width: 100%;
		width: var(--card-media-width);
		height: 232px;
		height: var(--card-media-height);
		margin: 0 0 16px 0;
		margin: var(--card-media-margin);
		border-radius: 16px;
		border-radius: var(--card-media-radius);
		overflow: hidden;
	}
	&__media-pic {
		@include dinamic-bg;
	}
	&__title {
		margin: 0 0 16px 0;
		margin: var(--card-title-margin);
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}
	}
	&__data {
		width: auto;
		width: var(--card-data-width);
		opacity: .3;
		opacity: var(--card-data-opacity);
	}

	&-full &__body {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@include media(tablet) {
			display: block;
		}
	}
	&-full &__title {
		flex: 0 1 100%;
		width: 100%;
	}
	&-full &__data {
		flex: 0 0 auto;
		min-width: 1px;
		margin: 2px 0 0 24px;
		@include media(tablet) {
			margin: 6px 0 0;
		}
		@include media(mobile) {
			margin: 0;
		}
	}

	&-row {
		display: flex;
	}
	&-row &__media {
		flex: 0 0 auto;
	}
	&-row &__body {
		flex: 0 1 auto;
		width: 100%;
	}
}