@media (prefers-color-scheme: dark) {
	.Modal {
		color: $black;
	}
}

.Modal-body {
	padding-top: 60px!important;
}

.editor {
	&__page-holder {
		display: flex;
		justify-content: flex-end;
	}
	&__toggle-btn {
		display: block;
		z-index: 2;
		@media (prefers-color-scheme: dark) {
			color: $white;
		}
	}
	&-title {
		display: block;
		max-width: 650px;
		margin: 0 auto;
		font-family: $Circe-bold!important;
		font-size: 64px;
		font-weight: 400;
		line-height: 1;
		resize: none;
		border: none;
		outline: 0 !important;
	}
}

.ce-block a {
	display: inline;
}

.ce-delimiter {
	&:before {
		content: ""!important;
		display: block!important;
		height: 1px!important;
		width: 100%;
		font-size: 0!important;
		line-height: 1!important;
		background: f-color($Smoke90, .2);
	}
}

.ce-toolbar {
	&__actions {
		right: -40px;
	}
	&__plus {
		width: 16px;
		height: 16px;
	}
	&__settings-btn {
		position: relative;
		width: 32px;
		height: 32px;
		background: f-color($Smoke10, .2);
		border-radius: 4px;
		transition: $ease-fast;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 6px;
			left: 6px;
			width: 20px;
			height: 20px;
			background: url('../../assets/images/editor/icon-settings-btn.svg') no-repeat;
			background-size: 100%;
			opacity: .5;
			transition: $ease-fast;
		}
		&:hover {
			background: transparent;
			&:before {
				opacity: 1;
			}
		}
		svg {
			display: none;
		}
	}
	.ce-toolbox {
		flex-direction: column;
		align-items: flex-start;
		width: 280px;
		max-height: 300px;
		padding: 14px 10px;
		background: $white;
		overflow-y: scroll;
		box-shadow: $box-shadow20;
		border-radius: $border-radius-little;
		transform: translate3d(0, 0, 0)!important;
		&__button {
			position: relative;
			justify-content: flex-start;
			align-items: center;
			flex: 0 0 auto;
			width: 100%;
			height: auto;
			margin-bottom: 8px;
			padding: 13px 16px 11px 45px;
			border-radius: $border-radius-little;
			&:before {
				content: "";
				position: absolute;
				top: 21px;
				left: 13px;
				transform: translate(0,-50%);
			}
			&:after {
				position: relative;
				display: inline-flex;
				font-family: $Circe-bold;
				font-size: 18px;
				line-height: 1;
				color: $black;
			}
			svg {
				display: none;
				position: absolute;
				top: 21px;
				left: 13px;
				transform: translate(0,-50%);
			}
			&:hover {
				background: f-color($Smoke10, .2);
			}
			&[data-tool = "paragraph"] {
				&:before {
					width: 14px;
					height: 16px;
					background: url('../../assets/images/editor/icon-text.svg') no-repeat;
					background-size: 100%;
				}
				&:after {
					content: "Текст";
				}
			}
			&[data-tool = "table"] {
				&:before {
					width: 14px;
					height: 16px;
					background: url('../../assets/images/editor/icon-table.svg') no-repeat;
					background-size: 100%;
				}
				&:after {
					content: "Таблица";
				}
			}
			&[data-tool = "list"] {
				&:before {
					width: 16px;
					height: 12px;
					background: url('../../assets/images/editor/icon-list.svg') no-repeat;
					background-size: 100%;
				}
				&:after {
					content: "Список";
				}
			}
			&[data-tool = "code"] {
				&:before {
					width: 16px;
					height: 16px;
					background: url('../../assets/images/editor/icon-code.svg') no-repeat;
					background-size: 100%;
				}
				&:after {
					content: "Фрагмент кода";
				}
			}
			&[data-tool = "linkTool"] {
				&:before {
					width: 16px;
					height: 16px;
					background: url('../../assets/images/editor/icon-link.svg') no-repeat;
					background-size: 100%;
				}
				&:after {
					content: "Вставить ссылку";
				}
			}
			&[data-tool = "image"] {
				&:before {
					width: 16px;
					height: 13px;
					background: url('../../assets/images/editor/icon-image.svg') no-repeat;
					background-size: 100%;
				}
				&:after {
					content: "Изображение";
				}
			}
			&[data-tool = "header"] {
				&:before {
					width: 13px;
					height: 16px;
					background: url('../../assets/images/editor/icon-header.svg') no-repeat;
					background-size: 100%;
				}
				&:after {
					content: "Заголовок";
				}
			}
			&[data-tool = "quote"] {
				&:before {
					display: none;
				}
				&:after {
					content: "Цитата";
				}
				svg {
					display: block;
				}
			}
			&[data-tool = "service"] {
				display: none;
			}
			&[data-tool = "incut"] {
				&:before {
					display: none;
				}
				&:after {
					content: "Врезка";
				}
				svg {
					display: block;
				}
			}
			&[data-tool = "vote"] {
				&:before {
					display: none;
				}
				&:after {
					content: "Опрос";
				}
				svg {
					display: block;
				}
			}
			&[data-tool = "numeric"] {
				&:before {
					display: none;
				}
				&:after {
					content: "Цифра";
				}
				svg {
					display: block;
				}
			}
			&[data-tool = "faq"] {
				&:before {
					display: none;
				}
				&:after {
					content: "FAQ";
				}
				svg {
					display: block;
				}
			}
			&[data-tool = "delimiter"] {
				&:before {
					width: 16px;
					height: 16px;
					background: url('../../assets/images/editor/icon-delimiter.svg') no-repeat;
					background-size: 100%;
				}
				&:after {
					content: "Разделитель";
				}
			}
		}
	}
}

.cdx-block {
	margin-bottom: 20px;
}

.cdx-block [contentEditable="true"] {
	margin-bottom: 10px;
}

.cdx-block [contentEditable="true"][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-block [contentEditable="true"][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-block [contentEditable="true"][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-input {
	border: 1px solid f-color($Smoke10, .5);
}