@keyframes footer-icon {
	30% {
		transform: rotate(-10deg) scale(1);
		animation-timing-function: ease;
	}
	70% {
		transform: rotate(10deg) scale(1.1);
		animation-timing-function: linear;
	}
	100% {
		transform: rotate(0) scale(1.3);
		animation-timing-function: ease-out;
	}
}

input::-webkit-input-placeholder {
	font-family: $Circe !important;
}

input:-moz-placeholder {
	font-family: $Circe !important;
}

input::-moz-placeholder {
	font-family: $Circe !important;
}

input:-ms-input-placeholder {
	font-family: $Circe !important;
}

.footer-text {
	font-size: 16px;
}

.footer-label {
	font-size: 10px;
	text-transform: uppercase;
}

footer {
	position: relative;
	color: $white;
	background: $black;
	overflow: hidden;
	z-index: 2;
	&:before,
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 643px;
		height: 607px;
		top: 380px;
		right: -180px;
		background-image: url('../../assets/images/base/footer-covid.png');
		background-size: 100%;
		background-repeat: no-repeat;
		@include retina {
			background-image: url('../../assets/images/base/footer-covid_2x.png');
		}
		@include media(desktop) {
			right: 50%;
			transform: translate(50%, 0);
			margin-right: -550px;
		}
		@include media(tablet) {
			opacity: .5;
		}
		@include media(mobile) {
			width: 162px;
			height: 434px;
			top: 665px;
			left: 0;
			right: auto;
			background-image: url('../../assets/images/base/footer-bg-left.png');
			@include retina {
				background-image: url('../../assets/images/base/footer-bg-left_2x.png');
			}
		}
	}
	&:after {
		display: none;
		@include media(mobile) {
			display: block;
			width: 155px;
			height: 590px;
			top: 560px;
			left: auto;
			right: 0;
			background-image: url('../../assets/images/base/footer-bg-right.png');
			@include retina {
				background-image: url('../../assets/images/base/footer-bg-right_2x.png');
			}
		}
	}
	.wrap {
		@include media(desktop) {
			max-width: 100% !important;
		}
	}
}

.footer {
	position: relative;
	padding: 65px 0 145px 0;
	color: $white;
	overflow: hidden;
	z-index: 1;
	@include media(tablet) {
		padding: 65px 0 55px 41px;
	}
	@include media(mobile) {
		padding: 60px 10px 20px 10px;
	}
	&__top {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 0;
		flex-wrap: wrap;
	}
	&__link-block {
		font-size: 0;
		max-width: 100%;
	}
	&__main-link {
		position: relative;
		display: inline-block;
		font-size: 14px;
		line-height: 2.14;
		margin-right: 15px;
		padding-left: 14px;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		transition: $ease;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 9px;
			left: 0;
			width: 0;
			height: 0;
			border-top: 5px solid transparent;
			border-left: 7px solid $dark-grayish-azure;
			border-bottom: 5px solid transparent;
			transition: $ease;
		}
		&:hover {
			color: f-color($Orange80, 1);
			&:before {
				border-left-color: f-color($Orange80, 1);
			}
		}
	}
	&__division-block {
		position: relative;
		border-bottom: 1px solid rgba(82, 100, 122, .2);
		font-size: 16px;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 28px;
			right: 0;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-top: 7px solid $dark-grayish-azure;
			border-right: 5px solid transparent;
			transform: rotate(0);
			transition: $ease;
		}
		&.is-open {
			&:after {
				border-top-color: f-color($Orange80, 1);
				transform: rotate(-180deg);
			}
		}
	}
	&__division-name {
		padding: 19px 0;
	}
	&__division-sub {
		max-height: 0;
		overflow: hidden;
		padding-left: 20px;
		transition: all .5s ease;
	}
	&__division-block.is-open &__division-sub {
		max-height: 400px;
	}
	&__division-link {
		margin-bottom: 14px;
		&:hover {
			color: f-color($Orange80, 1);
		}
	}
	&__btn.btn-ps {
		display: block;
		height: auto;
		margin-top: 36px;
		font-size: 24px;
		line-height: 1;
		text-align: left;
		letter-spacing: 0;
		padding: 22px 16px 21px 29px;
		margin-bottom: 25px;
		@include media(phone) {
			font-size: 20px;
			padding: 22px 0 21px 0;
		}
	}
	&__btn-text {
		position: relative;
		display: block;
		margin: 0 auto;
		max-width: 310px;
		&:after {
			content: "";
			position: absolute;
			font-size: 21px;
			top: 12px;
			right: 0;
			width: 16px;
			height: 14px;
			background: url('../../assets/images/icons/arrow-btn-ps.svg') no-repeat;
			background-size: 100%;
			@include media(phone) {
				top: 20px;
			}
		}
		@include media(phone) {
			max-width: 215px;
			line-height: 1.2;
		}
	}
	&__row {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		@include media(tablet) {
			flex-direction: column;
		}
		&_first {
			@include media(tablet) {
				flex-direction: row;
			}
		}
		&_bottom {
			@include media(tablet) {
				flex-direction: row;
			}
		}
	}
	&__item {
		width: 50%;
		text-align: right;
		@include media(tablet) {
			width: 50%;
			text-align: left;
		}
		&_right {
			text-align: left;
		}
	}
	&__item-holder {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 600px;
		text-align: left;
		&_right {
			width: 100%;
			max-width: 778px;
			padding-left: 5.2%;
			@media screen and (min-width: 1500px) {
				padding: 0 0 0 13.2%;
			}
			@include media(tablet) {
				max-width: 100%;
			}
		}
	}
	&__item-title {
		display: block;
		font-size: 20px;
		line-height: 1.2;
	}
	&__left-text {
		@include media(tablet) {
			max-width: 345px;
		}
	}
	&__logo {
		display: inline-block;
		height: 26px;
		background-image: url('../../assets/images/logos/logo.png');
		background-repeat: no-repeat;
		background-size: 20px 26px;
		padding: 0 0 0 36px;
		margin-bottom: 32px;
	}
	&__btns {
		margin: 25px -10px 0;
		.btn-ps {
			width: 265px;
			margin: 10px;
		}
	}
	&__connect {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 22px 0 50px;
		width: 100%;
		max-width: 469px;
		@include media(tablet) {
			max-width: 310px;
			margin-top: 50px;
		}
		@include media(mobile) {
			margin: 45px auto 30px;
		}
	}
	&__connect-title {
		display: block;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.5;
	}
	&__connect-block {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 102px;
		height: 64px;
		font-size: 16px;
		margin-bottom: 14px;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 2px solid rgba(79, 105, 117, .2);
			border-radius: 12px;
			transform: scale(1, 1);
			transition: $ease;
		}
		@include media(tablet) {
			width: 95px;
		}
		@include media(mobile) {
			width: 45%;
			margin: 0 0 13px;
		}
		&:hover {
			&:before {
				background: #1f1f28;
				transform: scale(.85, 1);
			}
		}
		&_write {
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			width: 224px;
			padding-right: 32px;
			@include media(tablet) {
				width: 204px;
			}
			@include media(mobile) {
				justify-content: center;
				width: 100%;
				padding-right: 0;
			}
			&:hover {
				&:before {
					transform: scale(.92, 1);
				}
			}
		}
	}
	&__connect-pic {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 36px;
		&_write {
			width: 36px;
		}
	}
	&__connect-text {
		position: relative;
		display: inline-block;
		margin-right: 20px;
	}
	&__connect-icon {
		display: inline-block;
		vertical-align: middle;
		width: 32px;
		height: 32px;
		background: url('../../assets/images/icons/bubble-op.svg') no-repeat;
		background-size: 100%;
		margin-left: 16px;
	}
	&__connect-block:hover &__connect-icon {
		animation: footer-icon 1.3s forwards;
	}
	&__address-phone {
		display: inline-block;
		margin: 0 20px 19px 0;
		font-size: 36px;
		line-height: .67;
		@include media(phone-small) {
			font-size: 30px;
		}
		&:hover {
			color: f-color($Orange80, 1);
		}
	}
	&__menu-holder {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding-right: 12%;
		&_bottom {
			align-items: flex-end;
			margin-top: 80px;
		}
	}
	&__menu-item {
		min-width: 179px;
		margin: 0 22px 19px 0;
		list-style: none;
		@include media(tablet) {
			min-width: 150px;
		}
		@include media(mobile) {
			display: inline-block;
			vertical-align: baseline;
			margin: 0 22px 3px 0;
			min-width: 0;
		}
	}
	&__menu-link {
		font-size: 24px;
		color: $dark-grayish-cyan;
		@include media(tablet) {
			font-size: 18px;
		}
		@include media(mobile) {
			color: $white;
			font-size: 12px;
		}
		&:hover {
			color: f-color($Orange80, 1);
		}
	}
	&__address-mail {
		&:hover {
			color: $white;
		}
		@include media(mobile) {
			display: inline-block;
			padding-top: 4px;
		}
	}
	&__pay {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		width: 190px;
		transform: translate(-108px, 0);
		&:after {
			content: '16+';
			display: block;
			position: absolute;
			top: 4px;
			right: -62px;
			font-size: 16px;
			line-height: 1;
			color: $dark-grayish-cyan;
			@include media(mobile) {
				top: 5px;
				right: -40px;
			}
		}
		&_18plus {
			&:after {
				content: '18+';
				font-size: 17px;
				@include media(mobile) {
					top: 7px;
					font-size: 15px;
				}
			}
		}
		@include media(tablet) {
			margin-left: 15px;
			transform: none;
		}
		@include media(mobile) {
			width: 185px;
			margin: 30px auto;
			left: -21px;
		}
	}
	&__bottom &__item-holder {
		margin-top: 140px;
		padding-left: 0;
	}
	&__pay-item {
		display: block;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: top left;
		@include media(mobile) {
			transform: scale(.9);
		}
		&_visa {
			width: 45px;
			height: 17px;
			background-image: url('../../assets/images/logos/pay-visa.png');
		}
		&_pay-pal {
			background-image: url('../../assets/images/logos/pay-pay-pal.png');
			width: 70px;
			height: 17px;
		}
		&_yandex {
			background-image: url('../../assets/images/logos/pay-yandex.png');
			width: 61px;
			height: 22px;
		}
		&_master {
			background-image: url('../../assets/images/logos/pay-master.png');
			width: 38px;
			height: 23px;
		}
		&_qiwi {
			background-image: url('../../assets/images/logos/pay-qiwi.png');
			width: 47px;
			height: 22px;
		}
	}
	&__skolkovo {
		@include media(mobile) {
			margin-top: 30px;
		}
	}
	&__skolkovo-logo {
		display: inline-block;
		vertical-align: middle;
		width: 53px;
		height: 38px;
		background: url('../../assets/images/logos/skolkovo.png') no-repeat;
		background-size: 100%;
	}
	&__skolkovo-text {
		display: inline-block;
		vertical-align: middle;
		font-size: 12px;
		max-width: 360px;
		width: 75%;
		margin-left: 20px;
		@include media(mobile) {
			margin-left: 7px;
		}
	}
}

.footer-subscribe-holder {
	position: relative;
	display: none;
	height: 480px;
	margin-top: -40px;
	overflow: hidden;
	@include media(mobile) {
		display: block;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 66px;
		left: 0;
		background: f-color($Orange80, 1);
	}
}

.footer-subscribe {
	position: relative;
	max-width: 1200px;
	height: 612px;
	margin: 0 auto;
	border-radius: 0;
	padding: 114px 0 0;
	color: $white;
	font-family: $Circe-bold;
	font-size: 30px;
	line-height: 1.2;
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 100%;
		min-width: 375px;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		background-image: url('../../assets/images/base/footer-subscribe-mobile.png');
		background-size: 100%;
		background-position: 50% 0;
		background-repeat: no-repeat;
		@include retina {
			background-image: url('../../assets/images/base/footer-subscribe-mobile_2x.png');
		}
	}
	.wrap {
		position: relative;
	}
	&__title {
		display: block;
		margin-bottom: 15px;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
	}
	&__form {
		display: block;
	}
	&__input-block {
		width: 100%;
		max-width: 363px;
	}
	&__input {
		display: block;
		width: 100%;
		height: 60px;
		background: $white;
		border: 2px solid $Smoke;
		border-radius: 0;
		margin-bottom: 15px;
		padding: 0 30px;
		font-size: 18px;
		color: $grey;
	}
	&__agreement-text {
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
	}
	&__checkbox {
		margin-top: 15px;
		display: block;
		font-size: 15px;
		a {
			display: inline;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__btn {
		width: 100%;
	}
}