.hashtag {
	display: block;
	padding: 7px 14px 7px 13px;
	padding: var(--hashtag-padding);
	background: var(--hashtag-bg);
	border-radius: $border-radius-small;
	font-family: $Circe-bold;
	font-size: 18px;
	font-size: var(--hashtag-font-size);
	line-height: 1;
	color: var(--hashtag-color);
	cursor: pointer;
}