
@keyframes header-csroll {
	0% {
		opacity: 0;
		transform: translate(0,-100%);
	}

	100% {
		opacity: 1;
		transform: translate(0,0);
	}
}

header {
	position: relative;
	overflow: hidden;
	transition: background .4s;
	z-index: 1051;
	@include media(mobile) {
		.wrap {
			padding: 0 16px;
		}
	}
}

.header {
	padding: 23px 0;
	@include media(tablet) {
		padding-top: 13px;
	}
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		@include media(mobile) {
			display: none;
		}
		&-mobile {
			display: none;
			@include media(tablet) {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 9px;
			}
		}
	}
	&__item {
		position: relative;
		flex: 0 1 auto;
		width: 100%;
		z-index: 1;
		&:first-of-type,
		&:last-of-type {
			flex: 0 0 auto;
			width: auto;
			min-width: 1px;
			@include media(tablet) {
				display: none;
			}
		}

		&:last-of-type {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			@include media(tablet) {
				display: none;
			}
		}
		&-mobile {
			display: none;
			@include media(tablet) {
				display: block;
				flex: 0 0 auto;
				width: 65%;
			}
			&:last-of-type {
				@include media(tablet) {
					display: flex;
					align-items: center;
					justify-content: flex-end;
					width: 35%;
				}
				@include media(mobile) {
					padding-top: 8px;
				}
			}
		}
	}

	&__logo {
		font-size: 0;
		text-align: center;
		@include media(tablet) {
			text-align: left;
		}
	}
	&__logo-link {
		display: inline-block;
		padding-top: 24px;
		@include media(mobile) {
			padding-top: 20px;
		}
	}
	&__logo-shield {
		display: inline-block;
		vertical-align: top;
		width: 24px;
		height: 32px;
		margin: -16px 14px 0 0;
		background-image: url('../../assets/images/logos/logo-black.png');
		background-repeat: no-repeat;
		background-size: 100%;
		@include media(mobile) {
			width: 21px;
			height: 27px;
			margin: -14px 12px 0 0;
		}
	}
	&__logo-name {
		display: inline-block;
		width: 196px;
		height: 40px;
		background-image: url('../../assets/images/logos/logo-name.svg');
		background-repeat: no-repeat;
		background-size: 100%;
		@include media(mobile) {
			width: 168px;
			height: 34px;
		}
	}
	&__user {
		margin-left: 22px;
		@include media(mobile) {
			margin-left: 12px;
		}
	}

	@media (prefers-color-scheme: dark) {
		&__logo-name {
			background-image: url('../../assets/images/logos/logo-name.png');
		}
		&__logo {
			background-image: url('../../assets/images/logos/logo.png');
			&:after {
				color: $white;
			}
		}
		&__journal {
			color: $white;
			&:before {
				background: $white;
			}
		}
		.lang-switch {
			border-color: rgba(0, 0, 0, 0.1);
			&__roller {
				border-color: $white;
			}
		}
		.mobile-menu__switch {
			&:before,&:after {
				background: $white;
			}
		}
	}
}

.padding-right-17 {
	padding-right: 17px;
}
.padding-right-15 {
	padding-right: 15px;
}

.modal-open {
	overflow: hidden;
	.modal {
		overflow-x: hidden;
		overflow-y: auto;
	}
	.Modal {
		@include media(tablet) {
			-webkit-overflow-scrolling: auto;
		}
	}
}

.menu-is-open {
	overflow: hidden;
	.modal {
		@include media(tablet) {
			-webkit-overflow-scrolling: auto;
		}
	}
	header {
		transition: background .1s .2s ease;
		background: $black;
	}
	.header {
		color: $white;

		&__logo-shield {
			background-image: url('../../assets/images/logos/logo.png');
			@include media(tablet) {
				position: relative;
			}
			@include media(mobile) {
				opacity: 1;
			}
		}

		&__logo-name {
			background-image: url('../../assets/images/logos/logo-name-white.svg');
		}

		.search__btn {
			pointer-events: none;
		}

		.mobile-menu__switch-item {
			&:before,&:after {
				top: 10px;
				background: $white;
			}
			&:before {
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
}

.mobile-menu {
	&__switch {
		position: relative;
		display: block;
		width: 30px;
		height: 28px;
		cursor: pointer;
		z-index: 2;
		transition: $ease;
		@include media(tablet) {
			margin-left: 16px;
		}
		@include media(mobile) {
			margin-left: 8px;
		}
	}

	&__switch-item {
		display: block;
		width: 100%;
		height: 100%;
		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 10px;
			width: 100%;
			height: 2px;
			background: $black;
			transition: $ease;
			@include media(tablet) {
				height: 3px;
			}
		}
		&:after {
			top: 18px;
			@include media(tablet) {
				top: 17px;
			}
		}
	}
}
