.latest-news {
	.card-row {
		@media screen and (max-width: 1399px) {
			--card-media-width: 64px;
			--card-media-height: 64px;
		}
	}
}

.latest-news {
	&__card {
		margin-bottom: 31px;
		@include media(mobile) {
			margin-bottom: 16px;
		}
	}
}