//main-menu desktop
.main-menu {
	position: relative;
	max-width: 1200px;
	height: 101%;
	margin: 0 auto;
	padding-top: 145px;
	color: $white;
	transform: translateY(10%);
	transition: $ease;
	@include media(tablet) {
		//max-width: 611px;
		max-width: 643px;
		height: auto;
		padding-bottom: 170px;
	}
	@include media(mobile) {
		display: none;
	}
	&__search {
		position: relative;
		height: 64px;
		margin-bottom: 40px;
		padding: 0 20px 0 40px;
		border-radius: 20px;
		background: $Smoke;
		box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
		@include media(mobile) {
			padding-left: 20px;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 22px;
			height: 22px;
			top: 21px;
			left: 30px;
			background-image: url('../../assets/images/icons/search-icon.svg');
			background-repeat: no-repeat;
			background-size: 100%;
			@include media(mobile) {
				top: 25px;
				left: 20px;
				width: 15px;
				height: 15px;
				background-image: url('../../assets/images/icons/icon-search.svg');
			}
		}
	}
	input::-webkit-input-placeholder {
		color: $white;
		opacity: .6;
	}
	input:-moz-placeholder {
		color: $white;
		opacity: .6;
	}
	input::-moz-placeholder {
		color: $white;
		opacity: .6;
	}
	input:-ms-input-placeholder {
		color: $white;
		opacity: .6;
	}
	&__search-input {
		width: 100%;
		height: 100%;
		padding-left: 30px;
		font-size: 24px;
		line-height: 1.38;
		background: transparent;
		border: none;
		color: $white;
		@include media(mobile) {
			font-size: 16px;
		}
	}
	&__holder {
		position: relative;
		display: flex;
		width: 100%;
		@include media(tablet) {
			flex-direction: column;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 52%;
		@include media(tablet) {
			width: 100%;
		}
		&:last-of-type {
			width: 48%;
			padding-left: 3%;
			@include media(tablet) {
				flex-direction: row;
				width: 100%;
				margin-top: 44px;
			}
		}
	}
	&__subtitle {
		position: relative;
		margin-bottom: 26px;
	}
	&__subtitle-dop {
		display: block;
		position: absolute;
		bottom: -23px;
		left: 0;
		font-size: 12px;
		line-height: 2;
		color: $dark-grayish-azure;
	}
	&__tab-switch {
		display: flex;
		justify-content: space-between;
	}
	&__tab-switch-item {
		position: relative;
		display: inline-block;
		opacity: .2;
		cursor: pointer;
		transition: $ease;
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 1px;
			border-bottom: 1px dotted $white;
			bottom: 6px;
			opacity: 1;
			transition: $ease;
		}
		&:hover {
			opacity: 1;
			&:after {
				opacity: 0;
			}
		}
		&.is-active {
			opacity: 1;
			cursor: default;
			&:after {
				opacity: 0;
			}
		}
	}
	&__title {
		display: block;
		font-size: 20px;
		line-height: 1;
	}
	&__menu-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 223px;
		height: 104px;
		border-radius: 6px;
		overflow: hidden;
		font-family: $Circe-bold;
		font-size: 18px;
		line-height: 1.22;
		padding: 5px 20px 20px;
		background: $dark-grayish-azure;
		color: $white;
		margin-bottom: 15px;
	}
	&__holder-menu {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
		padding: 5px 0 0 13%;
		@include media(tablet) {
			width: 70%;
			padding: 0;
		}
		&:last-of-type {
			margin-bottom: 0;
			@include media(tablet) {
				flex-direction: column;
				justify-content: flex-start;
				width: 30%;
			}
		}
	}
	&__block-menu {
		width: 50%;
		&:last-of-type {
			width: 50%;
		}
		@include media(tablet) {
			padding-right: 20px;
		}
		&_bottom {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			@include media(tablet) {
				justify-content: flex-start;
				width: 100%;
				padding-right: 0;
				&:last-of-type {
					width: 100%;
				}
			}
		}
	}
	&__link-menu {
		margin-top: 18px;
		font-size: 16px;
		line-height: 1.25;
		color: $dark-grayish-cyan;
		&:hover {
			color: f-color($Orange80, 1);
		}
	}
	&__lang {
		display: none;
		@include media(tablet) {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 19px;
		}
		@include media(mobile) {
			justify-content: space-between;
			width: 100%;
			left: 0;
			transform: none;
			font-size: 16px;
			margin-top: 41px;
		}
	}
	&__contacts {
		@include media(mobile) {
			position: inherit;
			bottom: 0;
		}
	}
	&__addresses {
		display: flex;
		@include media(mobile) {
			flex-wrap: wrap;
			margin-bottom: 42px;
		}
	}
	&__phone {
		display: block;
		margin-bottom: 5px;
		font-family: $Circe-bold;
		font-size: 24px;
		line-height: 1;
		@include media(mobile) {
			font-size: 35px;
			line-height: 1.67;
			margin: 41px 0 43px;
		}
	}
	&__contacts-text,
	&__contacts-mail,
	&__contacts-link {
		font-size: 16px;
		line-height: 1.5;
		color: $white;
	}
	&__contacts-link {
		display: block;
		color: $blue;
		@include media(mobile) {
			text-decoration: underline;
		}
	}
	&__contacts-text {
		margin: 0 32px 0 0;
		@include media(mobile) {
			margin: 0 20px 0 0;
		}
	}
	&__contacts-mail {
		display: block;
		color: $blue;
		&:hover {
			color: $white;
		}
		@include media(tablet) {
			margin-bottom: 16px;
		}
		@include media(mobile) {
			text-decoration: underline;
		}
	}
	&__btn-arrow {
		@media screen and (max-width: 1199px) {
			display: none;
		}
	}
	&__objects {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
	&__object {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		width: 28.3%;
		height: 218px;
		margin: 0 10px 8px 0;
		padding: 16px 18px 16px 18px;
		border-radius: 20px;
		background: $Smoke;
		font-family: $Circe-bold;
		font-size: 20px;
		line-height: 1;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		transform: scale(1);
		transform-origin: center;
		transition: $ease-fast;
		@include media(tablet) {
			width: 191px;
		}
		&_large {
			width: 38.3%;
			@include media(tablet) {
				width: 239px;
			}
		}
		&:hover {
			transform: scale(.95);
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 180px;
			height: 159px;
			bottom: 0;
			left: 0;
			background-image: url('../../assets/images/base/main-menu-card-bg.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
		&:first-of-type {
			background: $blue-magenta;
		}
		&:last-of-type {
			margin-right: 0;
			&:before {
				width: 260px;
			}
		}
		&_medium,
		&_small {
			height: 120px;
			&:before {
				width: 120%;
				height: 105px;
				opacity: .85;
			}
			&:first-of-type {
				width: 38.3%;
				@include media(tablet) {
					width: 239px;
				}
				&:before {
					width: 180px;
					height: 159px;
				}
			}
			&:last-of-type {
				&:before {
					width: 120%;
				}
			}
		}
		&_medium {
			margin-bottom: 0;
		}
		&_small {
			justify-content: flex-start;
			min-height: 104px;
			height: auto;
			max-height: 135px;
			&:first-of-type {
				background: $Smoke;
			}
			&:before {
				display: none;
			}
		}
		@media screen and (min-width: 1200px) {
			font-size: 24px;
		}
		@include media(tablet) {
			font-size: 24px;
		}
	}
	&__object-title {
		position: relative;
		transform: none;
		&_small {
			max-width: 140px;
			font-size: 12px;
			line-height: 1.43;
			text-transform: uppercase;
			opacity: .5;
			@media screen and (min-width: 1200px) {
				font-size: 14px;
			}
			@include media(tablet) {
				font-size: 14px;
			}
		}
	}
	&__object-text {
		display: block;
		margin-top: 12px;
		font-size: 16px;
		line-height: 1.25;
		transform: none;
	}
	&__object-icon {
		display: block;
		position: absolute;
		bottom: 16px;
		right: 16px;
		width: 43px;
		height: 43px;
		background: url('../../assets/images/icons/icon-trademark.png') no-repeat;
		background-size: 100%;
	}
	&__object-arrow {
		display: block;
		position: absolute;
		width: 18px;
		height: 15px;
		top: 20px;
		right: 19px;
		background: url('../../assets/images/icons/arrow-btn-ps.svg') no-repeat;
		background-size: 100%;
	}
	&__submenu {
		display: flex;
		flex-wrap: wrap;
		margin-top: 140px;
		&:last-of-type {
			margin-top: 2px;
		}
		@include media(tablet) {
			margin-top: 50px;
		}
	}
	&__submenu-item {
		font-size: 14px;
		line-height: 2.14;
		color: $white;
		margin-right: 18px;
		transition: $ease;
		&:hover {
			color: f-color($Orange80, 1);
		}
		&:last-of-type {
			margin-right: 0;
		}
		&_text {
			margin-right: 0;
		}
		&_bottom {
			margin-right: 11px;
		}
	}
}

//main-menu desktop ends

//main-menu mobile
.Mobile-menu {
	display: none;
	position: relative;
	padding: 106px 0 40px;
	opacity: 0;
	color: $white;
	visibility: hidden;
	transform: translate(0, -100px);
	transition: all 1s ease;
	@include media(mobile) {
		display: block;
	}
	&__select {
		padding: 10px 0 33px 0;
		font-size: 0;
		text-align: center;
	}
	&__select-item {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-family: $Circe-bold;
		font-size: 16px;
		line-height: 1.13;
		text-transform: uppercase;
		cursor: pointer;
		color: $dark-grayish-azure;
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 4px;
			background: f-color($Orange80, 1);
			bottom: -8px;
			left: 0;
			transition: $ease;
		}
		&.is-active {
			color: $white;
			&:after {
				right: 0;
			}
		}
		&:last-of-type {
			text-align: right;
			margin-left: 22%;
		}
	}
	&__tab {
		display: none;
		&.is-active {
			display: block;
		}
	}
	&__services-item-link {
		font-size: 16px;
		margin-bottom: 14px;
		transition: all 0.4s ease;
		&:hover {
			color: f-color($Orange80, 1);
		}
	}
	&__services-item {
		position: relative;
		max-height: 72px;
		margin: 0 -6.9%;
		overflow: hidden;
		transition: $ease;
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 32px;
			right: 6%;
			width: 0;
			height: 0;
			margin-right: 3px;
			border-left: 5px solid transparent;
			border-top: 7px solid $dark-grayish-azure;
			border-right: 5px solid transparent;
			transition: all 0.4s ease;
		}
		&.is-open {
			max-height: 500px;
			background: $mostly-black;
			&:before {
				border-top-color: f-color($Orange80, 1);
				transform: rotate(-180deg);
			}
		}
	}
	&__services-item-title {
		display: block;
		position: relative;
		line-height: 72px;
		font-size: 16px;
		padding: 0 6%;
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 1px;
			left: 30px;
			right: 26px;
			bottom: 0;
			background: rgba(52, 64, 7, .2);
		}
	}
	&__services-slider {
		height: 260px;
		overflow: hidden;
	}
	&__services-holder {
		@include media(adaptive) {
			display: flex;
			align-items: flex-start;
			overflow-y: hidden;
			overflow-x: auto;
			-webkit-overflow-scrolling: auto;
			font-size: 0;
			white-space: nowrap;
			height: 105%;
			padding: 0 6%;
		}
		@include media(tablet) {
			padding-left: 37px;
		}
		@include media(mobile) {
			padding-left: 6%;
		}
	}
	&__services-link {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: auto 0 0;
		width: 260px;
		min-height: 205px;
		margin: 19px 20px 30px 0;
		padding: 34px 30px 30px 20px;
		font-family: $Circe-bold;
		font-size: 20px;
		line-height: 1.17;
		white-space: normal;
		overflow: hidden;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		border-radius: $border-radius-medium;
		background: $bg-grey;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 14px;
			right: 16px;
			width: 13px;
			height: 13px;
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2533 19.6372L19.2533 2.66666C19.2533 1.62526 18.4091 0.780989 17.3677 0.781054L0.397126 0.781057L0.397124 4.55226L12.8154 4.55226L0.0343365 17.3333L2.70101 20L15.4821 7.21893L15.4821 19.6372L19.2533 19.6372Z' fill='#{f-color($white, 1)}'/%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 100%;
		}
	}
	&__services-price,
	&__services-name {
		flex: auto 0 0;
	}
	&__services-price {
		margin-top: 24px;
		font-size: 24px;
		line-height: 1;
	}
	&__bottom {
		padding: 36px 0 0;
	}
	&__search {
		position: relative;
		padding-bottom: 32px;
		&:after {
			content: "";
			display: block;
			position: absolute;
			height: 1px;
			width: 100%;
			bottom: 0;
			background: rgba(52, 64, 7, .2);
		}
	}
	&__search-block {
		position: relative;
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 18px;
			height: 18px;
			left: 0;
			top: 7px;
			background: url('../../assets/images/icons/icon-search.svg') no-repeat;
			background-size: 100%;
		}
	}
	&__search-input {
		height: 35px;
		border: none;
		padding-left: 34px;
	}
	&__search-input::-webkit-input-placeholder {
		color: $white;
		opacity: .5;
	}
	&__search-input:-moz-placeholder {
		color: $white;
		opacity: .5;
	}
	&__search-input::-moz-placeholder {
		color: $white;
		opacity: .5;
	}
	&__search-input:-ms-input-placeholder {
		color: $white;
		opacity: .5;
	}
	.social {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 375px;
		&__item {
			&_insta {
				width: 29px;
				height: 30px;
			}
			&_vk {
				width: 49px;
				height: 27px;
			}
			&_twit {
				width: 29px;
				height: 27px;
			}
			&_fb {
				width: 15px;
				height: 28px;
			}
			&_youtube {
				width: 39px;
				height: 27px;
				background-size: 308%;
			}
		}
	}
}

.menu-is-open .Mobile-menu {
	@include media(mobile) {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}

//main-menu mobile ends