.presentation {
	position: relative;
	display: flex;
	align-items: center;
	padding: 64px;
	background: $blue;
	border-radius: $border-radius-large;
	font-size: 24px;
	line-height: 1.33;
	color: $white;
	overflow: hidden;
	@include media(tablet) {
		padding: 48px;
	}
	@include media(mobile) {
		padding: 16px;
		border-radius: $border-radius-medium;
		font-size: 16px;
		line-height: 1.25;
	}
	&__item {
		flex: 0 0 auto;
		width: 40%;
		@include media(tablet) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		@include media(mobile) {
			display: none;
		}
		&:first-of-type {
			position: relative;
			width: 60%;
			padding-right: 3.65%;
			z-index: 2;
			@include media(tablet) {
				width: 100%;
				height: auto;
				padding: 0;
			}
			@include media(mobile) {
				display: block;
			}
		}
	}
	&__title {
		margin-bottom: 48px;
		@media screen and (max-width: 1200px) {
			padding-right: 16%;
		}
		@include media(tablet) {
			padding-right: 0;
		}
		@include media(mobile) {
			margin-bottom: 24px;
			font-size: 32px;
			line-height: 1.05;
		}
	}
	&__text {
		margin-bottom: 48px;
		@media screen and (max-width: 1200px) {
			padding-right: 16%;
		}
		@include media(tablet) {
			padding-right: 0;
		}
		@include media(mobile) {
			margin-bottom: 24px;
		}
	}
	&__btn {
		height: 88px;
		min-height: 1px;
		@include media(mobile) {
			height: 48px;
			padding: 12px 24px;
			font-size: 16px;
			line-height: 1.5;
		}
	}
	&__pic {
		max-width: 100%;
		border-radius: $border-radius-medium;
		@media screen and (max-width: 1200px) {
			transform: scale(1.23);
			transform-origin: 100% 50%;
		}
		@include media(tablet) {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: .2;
			transform: none;
		}
	}
}