.tags-menu {
	display: flex;
	justify-content: center;
	font-family: $Circe-bold;
	font-size: 14px;
	text-transform: uppercase;
	@include media(tablet) {
		justify-content: flex-start;
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: auto;
		white-space: nowrap;
		height: 150%;
		padding: 0 24px;
		font-size: 14px;
		line-height: 1.71;
		text-transform: uppercase;
	}
	@include media(mobile) {
		font-size: 16px;
		line-height: 1.5;
	}
	&-holder {
		@include media(tablet) {
			height: 26px;
			margin: 0 -24px;
			padding-left: 0;
			overflow: hidden;
		}
		@include media(mobile) {
			height: 32px;
		}
	}
	&__item {
		flex-shrink: 0;
		flex-grow: 0;
		margin-right: 2.6%;
		font-family: $Circe-bold;
		opacity: .4;
		@include media(mobile) {
			height: 32px;
			margin-right: 8px;
			padding: 4px 8px;
			text-transform: none;
			background: f-color($Smoke10, .2);
			border-radius: $border-radius-little;
			opacity: 1;
		}
		&:last-of-type {
			margin-right: 0;
		}
		&:hover,
		&.is-active {
			opacity: 1;
		}
		&.is-active {
			@include media(mobile) {
				background: $black;
				color: $white;
			}
		}
	}
}