.article-date {
	&__desktop {
		display: inline-flex;
		align-self: baseline;
		font-style: normal;
		@include media(mobile) {
			display: none;
		}
	}
	&__mobile {
		display: none;
		@include media(mobile) {
			display: inline-flex;
			align-self: baseline;
		}
	}
}