.article-time {
	--article-time-icon-margin: 11px;
}

.article-time {
	position: relative;
	display: inline-flex;
	align-items: center;
	&__icon {
		margin-right: 11px;
		margin-right: var(--article-time-icon-margin);
	}
}


