:root {
	.btn-shadow {
		--btn-color: #{f-color($Smoke90, 1)};
		--btn-background: #{$white};
		--btn-border-color: #{$white};
		&:hover {
			--btn-border-color: #{$white};
		}
	}
}

.btn-shadow {
	box-shadow: $box-shadow20;
	transition: all .2s cubic-bezier(0.58, -0.3, 0.64, 1.18);
	&:hover {
		box-shadow: $box-shadow80;
	}
}