:root {
	.btn-ghost {
		--btn-background: transparent;
		&.ghost {
			--btn-border-color: #{f-color($Smoke10, 1)};
			--btn-color: #{f-color($Smoke80, 1)};
			&:hover {
				--btn-background: #{f-color($Smoke10, .2)};
				--btn-border-color: #{f-color($Smoke80, 1)};
				--btn-color: #{f-color($black, 1)};
			}
		}
		&.orange {
			--btn-border-color: #{$orange};
			--btn-color: #{$orange};
			--btn-background: transparent;
			&:hover {
				--btn-background: #{$orange};
				--btn-color: #{$white};
			}
		}
		&.black {
			--btn-border-color: #{$black};
			--btn-color: #{$black};
			--btn-background: transparent;
			&:hover {
				--btn-background: #{$black};
				--btn-color: #{$white};
				--btn-scale: scale(1);
			}
		}
		&.white {
			--btn-border-color: #{$white};
			--btn-color: #{$white};
			--btn-background: transparent;
			&:hover {
				--btn-background: #{$white};
				--btn-color: #{$black};
			}
		}
		&.red {
			--btn-border-color: #{$red};
			--btn-color: #{$red};
			--btn-background: transparent;
			&:hover {
				--btn-background: #{$red};
				--btn-color: #{$white};
			}
		}
		&.green {
			--btn-border-color: #{$green};
			--btn-color: #{$green};
			--btn-background: transparent;
			&:hover {
				--btn-background: #{$green};
				--btn-color: #{$black};
			}
		}
	}
	.dark-theme {
		.ghost {
			--btn-border-color: #{f-color($Smoke60, 1)};
			--btn-color: #{f-color($Smoke10, 1)};
			&:hover {
				--btn-border-color: #{ f-color($Smoke10, .2)};
				--btn-color: #{$white};
			}
		}
	}
}