@keyframes btn-ps1 {
	60% {
		transform: scale(0.8, 0.8);
	}
	85% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes btn-ps2 {
	to {
		opacity: 0;
		transform: scale(1, 1);
	}
}

:root {
	.btn {
		--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($white, 1)}'/%3E%3C/svg%3E");
		&:hover {
			--btn-background: #{$black};
			--btn-border-color: #{$black};
		}

		&.black {
			transition: all .2s cubic-bezier(0.58, -0.3, 0.64, 1.18);
			&:hover {
				--btn-background: #{$black};
				--btn-border-color: #{$black};
				--btn-scale: scale(.9);
			}
		}

		&.white {
			&:hover {
				--btn-background: #{$white};
				--btn-border-color: #{$white};
				opacity: .8;
			}
		}

		&.green {
			--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($black, 1)}'/%3E%3C/svg%3E");
			&:hover {
				--btn-color: #{$white};
				.icon-plus-black {
					--icon-plus-black: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6667 0C11.1144 0 10.6667 0.447715 10.6667 1V9.66667C10.6667 10.219 10.219 10.6667 9.66667 10.6667H1C0.447717 10.6667 0 11.1144 0 11.6667V12.3333C0 12.8856 0.447715 13.3333 1 13.3333H9.66667C10.219 13.3333 10.6667 13.781 10.6667 14.3333V23C10.6667 23.5523 11.1144 24 11.6667 24H12.3333C12.8856 24 13.3333 23.5523 13.3333 23V14.3333C13.3333 13.781 13.781 13.3333 14.3333 13.3333H23C23.5523 13.3333 24 12.8856 24 12.3333V11.6667C24 11.1144 23.5523 10.6667 23 10.6667H14.3333C13.781 10.6667 13.3333 10.219 13.3333 9.66667V1C13.3333 0.447717 12.8856 0 12.3333 0H11.6667Z' fill='#{f-color($white, 1)}'/%3E%3C/svg%3E");
				}
				.icon-arrow-btn {
					--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($white, 1)}'/%3E%3C/svg%3E");
				}
			}
		}

		&__text {
			&_xl {
				--btn-font-size: 24px;
				--btn-line-height: 1.17;
			}
		}
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-height: 56px;
	min-height: var(--btn-height);
	background: $blue;
	background: var(--btn-background);
	border-radius: $border-radius-btn;
	border-radius: var(--btn-border-radius);
	color: $white;
	color: var(--btn-color);
	font-family: $Circe-bold;
	font-size: 18px;
	font-size: var(--btn-font-size);
	line-height: 1.33;
	line-height: var(--btn-line-height);
	text-align: center;
	border-width: 2px;
	border-style: solid;
	border-color: $blue;
	border-color: var(--btn-border-color);
	padding: 18px 24px;
	padding: var(--btn-padding);
	cursor: pointer;
	transform-origin: 50% 50% 0;
	transform: scale(1);
	transform: var(--btn-scale);
	&-shadow {
		background: white;
		box-shadow: $box-shadow20;
	}
	&-full {
		width: 100%;
	}
	&__icon {
		&:first-child {
			margin: 0 var(--icon-margin) 0 0;
		}
		&:last-child {
			margin: 0 0 0 var(--icon-margin);
		}
	}
	&__text {
		display: inline-block;
		flex: 0 0 auto;
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		font-style: normal;
		&_XL {
			font-size: 24px;
			font-size: var(--btn-font-size);
			line-height: 1.17;
			line-height: var(--btn-line-height);
		}
	}
	&__icon {
		&:before {
			transform: translate(0,0);
		}
	}

	&:active {
		@include btn-active
	}
	&:hover .icon-arrow-btn:before {
		@include link-btn-hover
	}
}

.btn-ps {
	position: relative;
	height: 60px;
	font-family: $Circe-bold;
	font-size: 16px;
	letter-spacing: 1.1px;
	line-height: 1;
	border: none;
	border-radius: 30px;
	color: $white;
	cursor: pointer;
	text-align: center;
	z-index: 2;
	transition: background-color 0.3s, color 0.3s;
	&_blue {
		background: $blue;
	}
	&_orange {
		background: f-color($Orange80, 1);
	}
	&_white {
		color: $black;
		background: $white;
	}
	&:before {
		content: '';
		position: absolute;
		top: -20px;
		left: -20px;
		bottom: -20px;
		right: -20px;
		background: inherit;
		border-radius: 50px;
		z-index: -1;
		opacity: 0.6;
		transform: scale(0.8, 0.5);
	}
	&__text {
		display: inline-block;
		vertical-align: middle;
		line-height: 59px;
	}
	&__arrow {
		position: relative;
		display: inline-block;
		float: right;
		top: 23px;
		right: 33px;
		font-size: 0;
		transform: translate(0, 0);
		transition: $ease-fast;
		&:after {
			content: "";
			display: inline-block;
			width: 16px;
			height: 14px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='15' viewBox='0 0 18 15'%3E%3Cg fill='none' fill-rule='evenodd' stroke='#{f-color($white, 1)}' stroke-width='2'%3E%3Cpath d='M9.233 1L16 7.48l-6.767 6.479M16 7.348H.376'/%3E%3C/g%3E%3C/svg%3E");
			background-repeat: no-repeat;
			background-size: 100%;
		}
		&_black {
			&:after {
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='15' viewBox='0 0 18 15'%3E%3Cg fill='none' fill-rule='evenodd' stroke='#{f-color($black, 1)}' stroke-width='2'%3E%3Cpath d='M9.233 1L16 7.48l-6.767 6.479M16 7.348H.376'/%3E%3C/g%3E%3C/svg%3E");
			}
		}
	}
	&:hover {
		transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
		background: $blue;
		color: $white;
		animation: btn-ps1 0.3s forwards;
		&:before {
			animation: btn-ps2 0.3s 0.3s forwards;
		}
	}
	&_white:hover {
		background: $white;
		color: $black;
	}
	&:hover &__arrow {
		transform: translate(12px, 0);
	}
}