:root {
	--cards-set-margin: 0 -8px;
	--cards-set-item-width: 33.333%;
	--cards-set-item-padding: 0 8px;
	@include media(tablet) {
		--cards-set-item-width: 50%;
	}
	@include media(mobile) {
		--cards-set-item-width: 100%;
	}

	.cards-quad {
		--cards-set-item-width: 25%;
		@media screen and (max-width: 1399px) {
			--cards-set-item-width: 50%;
			--cards-set-margin: 0 -24px;
			--cards-set-item-padding: 0 24px;

			--card-media-height: 286px;
		}
		@include media(tablet) {
			--cards-set-margin: 0 -8px;
			--cards-set-item-padding: 0 8px;
		}
		@include media(mobile) {
			--cards-set-item-width: 100%;
		}
	}
}

.cards-set {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
	margin: var(--cards-set-margin);
	&__item {
		flex: 0 0 auto;
		width: 33.333%;
		width: var(--cards-set-item-width);
		padding: 0 8px;
		padding: var(--cards-set-item-padding);
	}
}