.clap {
	display: inline-flex;
	align-items: center;
	height: 48px;
	padding: 0 16px 0 21px;
	border-radius: $border-radius-btn;
	background: $white;
	box-shadow: $box-shadow20;
	font-family: $Circe-bold;
	font-size: 24px;
	line-height: 1;
	color: $black;
	cursor: pointer;
	transition: $ease-fast;
	&:hover {
		box-shadow: $box-shadow80;
	}
	&.is-claped {
		background: $black;
		color: $white;
		box-shadow: none;
		&:hover {
			box-shadow: none;
		}
		.icon-clap {
			background-image: var(--icon-clap-claped);
		}
	}
	&__icon {
		margin-right: 20px;
	}
	&__count {
		display: inline-block;
		font-size: inherit;
		line-height: inherit;
		font-weight: 400;
	}
	&__text {
		display: inline-block;
		max-width: 100px;
		margin-left: 10px;
		font-size: inherit;
		line-height: inherit;
		color: $Smoke60;
		overflow: hidden;
		transition: max-width .2s ease;
	}
	&.is-claped .clap__text {
		max-width: 0;
		margin-left: 0;
		opacity: 0;
	}
}