.link {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	font-family: $Circe-bold;
	font-size: 18px;
	font-size: var(--link-font-size);
	line-height: 1.33;
	line-height: var(--link-line-height);
	color: f-color($Smoke90, 1);
	color: var(--link-color);
	letter-spacing: normal;
	letter-spacing: var(--link-leter-spacing);
	cursor: pointer;
	&__text {
		display: inline-block;
		flex: 0 0 auto;
		font-size: inherit;
		line-height: inherit;
		color: inherit;
		font-style: normal;
	}
	&__icon {
		&:first-child {
			margin: 0 var(--icon-margin) 0 0;
		}
		&:last-child {
			margin: 0 0 0 var(--icon-margin);
		}
		&:before {
			transform: translate(0,0);
		}
	}
	&-blank {
		&:hover .link__icon:before {
			@include link-blank-hover
		}
	}
	&-arrow {
		&:hover .link__icon:before {
			@include link-btn-hover
		}
	}
	&-appear {
		.link__icon:before {
			max-width: 0;
			transition: max-width .2s cubic-bezier(0.58, -0.3, 0.64, 1.18);
		}
		&:hover .link__icon:before {
			max-width: 100%;
		}
	}
}

