.tabs {
	@include media(mobile) {
		height: 150%;
		padding: 0 20px;
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: auto;
		font-size: 0;
		white-space: nowrap;
	}
	&__holder {
		@include media(mobile) {
			height: 45px;
			margin: 0 -20px;
			overflow: hidden;
		}
	}
	&__item {
		height: 112px;
		min-height: 1px;
		margin-right: 10px;
		font-size: 40px;
		line-height: 1.2;
		@include media(tablet) {
			height: 92px;
			font-size: 24px;
			line-height: 1.17;
		}
		@include media(mobile) {
			height: 48px;
			padding: 12px 16px;
			font-size: 20px;
			line-height: 1.2;
		}
	}
	&-block {
		display: none;
		&.is-on {
			display: block;
		}
	}
}