.prime-title,
.section-title,
.block-title {
	display: block;
	font-family: $Circe-bold;
	font-weight: 400;
}
.prime-title {
	font-size: 64px;
	line-height: 1;
	@include media(mobile) {
		font-size: 40px;
		line-height: 1;
	}
}

.section-title {
	font-size: 48px;
	line-height: 1.17;
	@include media(mobile) {
		font-size: 32px;
		line-height: 1.05;
	}
}

.block-title {
	font-size: 32px;
	line-height: 1.25;
	@include media(mobile) {
		font-size: 20px;
		line-height: 1.2;
	}
}

.title-row-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__title {
		flex: 0 1 auto;
		width: 100%;
	}
	&__btn {
		flex: 0 0 auto;
	}
}