// Icons
// -------------------------


[data-icons8]:before,
.icons8-black-twitter-logo:before,
.icons8-down-long-arrow:before,
.icons8-drop-down-arrow:before,
.icons8-facebook-logo:before,
.icons8-instagram-camera:before,
.icons8-long-arrow-up:before,
.icons8-medium:before,
.icons8-vk-com:before,
.icons8-youtube-play-button-logo:before
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-black-twitter-logo:before { content: $icons8-var-black-twitter-logo; }
.icons8-down-long-arrow:before { content: $icons8-var-down-long-arrow; }
.icons8-drop-down-arrow:before { content: $icons8-var-drop-down-arrow; }
.icons8-facebook-logo:before { content: $icons8-var-facebook-logo; }
.icons8-instagram-camera:before { content: $icons8-var-instagram-camera; }
.icons8-long-arrow-up:before { content: $icons8-var-long-arrow-up; }
.icons8-medium:before { content: $icons8-var-medium; }
.icons8-vk-com:before { content: $icons8-var-vk-com; }
.icons8-youtube-play-button-logo:before { content: $icons8-var-youtube-play-button-logo; }

