// Variables
// --------------------------


$icons8-css-prefix: "icons8";
$icons8-font-name: "Promo";
$icons8-font-path: "../fonts";

$icons8-var-black-twitter-logo: "\f104";
$icons8-var-down-long-arrow: "\f101";
$icons8-var-drop-down-arrow: "\f102";
$icons8-var-facebook-logo: "\f103";
$icons8-var-instagram-camera: "\f106";
$icons8-var-long-arrow-up: "\f100";
$icons8-var-medium: "\f105";
$icons8-var-vk-com: "\f108";
$icons8-var-youtube-play-button-logo: "\f107";
