@charset "UTF-8";
/*!
 * Icon Font Promo
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *	[ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *	Twitter [ https://twitter.com/icons_8 ]
 *	Facebook [ https://www.facebook.com/Icons8 ]
 *	Google+ [ https://plus.google.com/+Icons8 ]
 *	GitHub [ https://github.com/icons8 ]
 */
@font-face {
  font-family: "Promo";
  src: url("../fonts/Promo.eot");
  src: url("../fonts/Promo.eot?#iefix") format("embedded-opentype"), url("../fonts/Promo.woff2") format("woff2"), url("../fonts/Promo.woff") format("woff"), url("../fonts/Promo.ttf") format("truetype"), url("../fonts/Promo.svg#Promo") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Promo";
    src: url("../fonts/Promo.svg#Promo") format("svg"); } }

[data-icons8]:before,
.icons8-black-twitter-logo:before,
.icons8-down-long-arrow:before,
.icons8-drop-down-arrow:before,
.icons8-facebook-logo:before,
.icons8-instagram-camera:before,
.icons8-long-arrow-up:before,
.icons8-medium:before,
.icons8-vk-com:before,
.icons8-youtube-play-button-logo:before {
  display: inline-block;
  font-family: "Promo";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

[data-icons8]:before {
  content: attr(data-icons8); }

.icons8-black-twitter-logo:before {
  content: ""; }

.icons8-down-long-arrow:before {
  content: ""; }

.icons8-drop-down-arrow:before {
  content: ""; }

.icons8-facebook-logo:before {
  content: ""; }

.icons8-instagram-camera:before {
  content: ""; }

.icons8-long-arrow-up:before {
  content: ""; }

.icons8-medium:before {
  content: ""; }

.icons8-vk-com:before {
  content: ""; }

.icons8-youtube-play-button-logo:before {
  content: ""; }
