.cdx-numeric {
	font-family: $Serif;
	text-align: center;
	&__numeral {
		position: relative;
		font-weight: 600;
		font-size: 75px;
		line-height: 1;
		letter-spacing: 0.533333px;
	}
	&__sign {
		display: block;
		font-family: $Circe;
		font-size: 24px;
		line-height: 1.33;
		color: $grey-text;
		letter-spacing: -0.24px;
	}
}