@import "settings";
@import "vendors/slick";

@keyframes mouse {
	0% {
		opacity: 0;
		transform: translate(0, 0);
	}
	50% {
		opacity: 1;
		transform: translate(0, 9px);
	}
	100% {
		opacity: 0;
		transform: translate(0, 0);
	}
}

@keyframes social-1 {
	60% {
		transform: scale(0.8, 0.8);
	}
	85% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes social-2 {
	from {
		opacity: .7;
	}
	to {
		opacity: 0;
		transform: scale(1, 1);
	}
}

@keyframes btn1 {
	60% {
		transform: scale(0.8, 0.8);
	}
	85% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes btn2 {
	to {
		opacity: 0;
		transform: scale(1, 1);
	}
}



//modal bs
.modal {
	z-index: 100;
	display: block !important;
	opacity: 0;
	visibility: hidden;
	transition: opacity .2s ease;
	&.in {
		opacity: 1;
		visibility: visible;
		transition: opacity .8s ease;
	}
}

.modal-body {
	padding: 0;
}

.modal-content {
	background-color: transparent !important;
	box-shadow: none !important;
	border: none !important;
	border-radius: 0 !important;
}

//modal bs ends

.contact-form {
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		@include media(mobile) {
			flex-wrap: wrap;
		}
	}
	&__input {
		position: relative;
		width: 100%;
		color: #ffffff;
		height: 60px;
		border-radius: 30px;
		background: $dark-grayish-phthalo-blue;
		font-size: 16px;
		border: none;
		padding: 0 26px;
		z-index: 2;
	}
	&__button {
		margin-top: 15px;
	}
}

.checkbox {
	margin-top: 15px;
	input {
		display: none;

		&:checked ~ span {
			&:before {
				background-color: $blue;
				background-image: url("../assets/images/icons/icon-white-check.svg");
			}
		}
	}

	span {
		position: relative;
		display: inline-block;
		padding-left: 35px;
		font-size: 15px;

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 20px;
			height: 20px;
			margin: -12px 0;
			border: 1px solid $blue;
			border-radius: 4px;
			transition: $ease;
			background-repeat: no-repeat;
			background-size: 12px 10px;
			background-position: center center;
		}
	}

	a {
		display: inline;
		text-decoration: underline;
	}
}

.cover-bg {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin: auto;
	background: $black;
	transform: translate(-100%, 0);
	transition: all .2s ease .1s;
	z-index: 50;
	@include media(mobile) {
		transform: translate(0, -100%);
	}
}

.menu-is-open .cover-bg {
	transform: translate(0, 0);
	transition: all .2s ease;
}

.social {
	font-size: 0;
	&__item {
		display: inline-block;
		position: relative;
		vertical-align: middle;
		background-size: 100%;
		background-repeat: no-repeat;
		margin-right: 20px;
		transform: scale(1, 1);
		&:before {
			content: '';
			position: absolute;
			top: -10px;
			left: -10px;
			bottom: -10px;
			right: -10px;
			background: inherit;
			z-index: -1;
			opacity: 0;
			transform: scale3d(0.1, 0.1, 1);
		}
		&_insta {
			background-image: url("../assets/images/logos/soc-insta.png");
			width: 19px;
			height: 19px;
		}
		&_vk {
			background-image: url("../assets/images/logos/soc-vk.png");
			width: 25px;
			height: 14px;
		}
		&_twit {
			background-image: url("../assets/images/logos/soc-twit.png");
			width: 20px;
			height: 18px;
			margin-right: 21px;
		}
		&_fb {
			background-image: url("../assets/images/logos/soc-fb.png");
			width: 10px;
			height: 19px;
			margin-right: 22px;
		}
		&_youtube {
			background-image: url("../assets/images/logos/soc-you.png");
			width: 84px;
			height: 19px;
		}
		@include media(mobile) {
			margin-right: 0;
		}
		&:hover {
			animation: social-1 0.4s forwards;
			&:before {
				animation: social-2 0.3s 0.3s forwards;
			}
		}
	}
}

.lang-switch {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 82px;
	height: 44px;
	border: 1px solid rgba(255, 255, 255, .1);
	border-radius: $border-radius-little;
	font-size: 0;
	margin-top: -1px;
	margin-left: 0;
	overflow: hidden;
	&__text {
		@include media(tablet) {
			display: none;
		}
		@include media(mobile) {
			display: block;
		}
	}
	&__item {
		position: relative;
		display: inline-block;
		vertical-align: baseline;
		height: 100%;
		line-height: 42px;
		width: 50%;
		font-size: 14px;
		padding-left: 10px;
		cursor: pointer;
		z-index: 2;
		&:first-of-type {
			padding-left: 12.5px;
		}
	}
	&__roller {
		display: block;
		position: absolute;
		width: 35px;
		height: 35px;
		border: 1px solid $white;
		border-radius: $border-radius-little;
		top: 3px;
		left: 50%;
		transition: $ease;
	}
	&__item + &__roller {
		transform: translate(-36px,0);
	}
	&__item.is-active + &__roller {
		transform: translate(1px,0);
	}
}

.popup {
	position: fixed;
	visibility: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1052;
	&.is-open {
		visibility: visible;
		.cover-bg {
			transform: translate(0, 0);
			transition: all .2s ease;
			background: rgba(17, 18, 19, 1);
		}
	}
	&__inner {
		position: relative;
		z-index: 1053;
		width: 100%;
		max-width: 1350px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: $white;
		opacity: 0;
		transform: translate(0, 25%);
		transition: all .3s ease;
	}
	&.is-open &__inner {
		opacity: 1;
		transform: translate(0, 0);
	}
	&__close {
		display: block;
		position: absolute;
		width: 20px;
		height: 20px;
		top: 30px;
		right: 50%;
		margin-right: -460px;
		cursor: pointer;
		z-index: 60;
		@include media(tablet) {
			right: 5%;
			margin-right: 0;
		}
		@include media(mobile) {
			top: 10px;
		}
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 20px;
			height: 2px;
			top: 9px;
			left: 0;
			background: rgba(255, 255, 255, 0.8);
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	&__body {
		max-width: 920px;
		width: 100%;
		height: 60%;
		margin-bottom: 60px;
	}
	.slick-slider {
		.slick-prev,
		.slick-next {
			position: absolute;
			font-size: 0;
			line-height: 0;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border: none;
			background-size: 100%;
			margin-top: 0;
			z-index: 2;
			cursor: pointer;
			transition: $ease;
			transform-origin: center;
			&:before {
				display: none;
			}
			&:hover {
				transform: scale(.84, .84);
				box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.28);
			}
		}
		.slick-prev {
			transform: scale(-1, 1);
			&:hover {
				transform: scale(-.84, .84);
			}
		}
		.slick-next {
			left: auto;
			margin-left: auto;
			right: 50%;
		}
	}
}

.popup .cover-bg {
	z-index: 1052;
}

#connect-us {
	z-index: 1051;
}

.popup-contacts {
	position: relative;
	max-width: 368px;
	margin: 0 auto;
	padding: 20px 23px 28px;
	background: $dark-grayish-phthalo-blue;
	border-radius: 30px;
	top: 50%;
	color: $white;
	z-index: 1053;
	transform: translate(0%, -25%);
	opacity: 0;
	transition: $ease;
	.is-open & {
		transform: translate(0%, -50%);
		opacity: 1;
	}
	@include media(mobile) {
		margin: 0 20px;
		max-width: none;
	}
	&__close {
		display: block;
		position: absolute;
		top: 19px;
		right: 19px;
		width: 50px;
		height: 38px;
		text-align: center;
		line-height: 36px;
	}
	&__close-icon {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		width: 15px;
		height: 15px;
		line-height: 36px;
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 6px;
			left: -2px;
			width: 19px;
			height: 2px;
			background: $white;
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	&__title {
		display: block;
		font-size: 24px;
		margin: 5px auto 20px;
	}
	&__text {
		display: block;
		margin: -10px 0 15px;
	}
	&__input {
		background: $dark-grayish-blue;
		margin-bottom: 10px;
	}
	&__textarea {
		height: 122px;
		max-height: 122px;
		resize: none;
		background: $dark-grayish-blue;
		margin-bottom: 25px;
		padding-top: 19px;
		padding-bottom: 19px;
	}
}
