$journal-blue: #377dff;
$journal-black-op10: rgba(0, 0, 0, .1);
$journal-light-grayish: #e5eaf4;
$journal-very-light-gray: #f0f0f0;
$journal-promo-bg: rgba(179, 186, 197, .1);

//$border-radius-small: 8px;
//$border-radius-little: 12px;
//$border-radius-medium: 16px;
//$border-radius-medium: 20px;
//$border-radius-large: 50px;
//$border-radius-round: 50%;



.set-slider-arrow {
	display: none;
	position: absolute;
	font-size: 0;
	width: 245px;
	height: 15px;
	padding-top: 5px;
	cursor: pointer;
	z-index: 5;
	opacity: .3;
	&__stick {
		display: inline-block;
		vertical-align: middle;
		width: 245px;
		height: 2px;
		background: $white;
	}
	&__arrow {
		position: absolute;
		right: 2px;
		width: 1px;
		height: 2px;
		background: $white;
		transform: translate(0, 0);
		transition: $ease-fast;
		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 2px;
			height: 22px;
			background: $white;
			top: -17px;
			right: 4px;
			border-radius: 2px;
			transform: rotate(-45deg);
		}
		&:after {
			top: -2px;
			right: 5px;
			transform: rotate(45deg);
		}
		&_prev {
			right: auto;
			left: 1px;
			&:before,
			&:after {
				left: 5px;
				transform: rotate(45deg);
			}
			&:after {
				transform: rotate(-45deg);
			}
		}
	}
	&:hover &__arrow {
		width: 20px;
		transform: translate(20px, 0);
	}
	&:hover &__arrow_prev {
		width: 20px;
		transform: translate(-20px, 0);
	}
	&.slick-disabled {
		opacity: 1;
	}
	&.slick-disabled &__stick,
	&.slick-disabled &__arrow,
	&.slick-disabled &__arrow:before,
	&.slick-disabled &__arrow:after {
		background: $dark-grayish-phthalo-blue;
	}
	&.slick-disabled:hover {
		cursor: default;
	}
	&.slick-disabled:hover &__arrow {
		width: 1px;
		transform: none;
	}
}

.set-slider-arrow-round {
	position: absolute;
	display: none;
	width: 64px;
	height: 64px;
	background: $white;
	border-radius: 50%;
	box-shadow: 0 2px 20px 0 $journal-black-op10;
	cursor: pointer;
	z-index: 5;
	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 10px;
		height: 20px;
		top: 50%;
		left: 50%;
		background-size: 100%;
		transform: translate(-50%, -50%);
	}
}

.journal {
	padding-top: 1.1em;
	@include media(mobile) {
		padding-top: 1.3em;
	}
	&__heading {
		display: block;
		max-width: 591px;
		font-family: $Circe-bold;
		font-size: 3.2em;
		line-height: 1;
		overflow-wrap: break-word;
		@include media(tablet) {
			font-size: 2.2em;
			line-height: 1.1;
		}
		@include media(mobile) {
			margin-top: 10px;
			font-size: 1.4em;
			line-height: 1.19;
		}
	}
	&__unit-title {
		display: block;
		font-family: $Circe-bold;
		font-size: 20px;
		line-height: 1.2;
	}



	&__counter {
		position: relative;
		padding: 0 0 0 1.65em;
		font-family: $Circe-bold;
		font-size: .6em;
		line-height: 1;
		opacity: .5;
		@include media(mobile) {
			font-size: 12px;
			opacity: 1;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 1.25em;
			height: 1.35em;
			top: -.2em;
			left: 0;
			background: url('../assets/images/icons/icon-comment.svg') no-repeat;
			background-size: 100%;
		}
	}
	&__soc-icon {
		display: block;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 0;
		&_copy {
			background-image: url('../assets/images/journal/soc-icon-copy.svg');
			background-size: 24px 28px;
		}
		&_fb {
			background-image: url('../assets/images/journal/soc-icon-fb.svg');
		}
		&_vk {
			background-image: url('../assets/images/journal/soc-icon-vk.svg');
		}
		&_tw {
			background-image: url('../assets/images/journal/soc-icon-tw.svg');
		}
		&_tg {
			background-image: url('../assets/images/journal/soc-icon-tg.svg');
		}
	}
	&__btn-all {
		display: block;
		padding: 6px 0 3px;
		font-family: $Circe-bold;
		font-size: 16px;
		color: $black;
		text-align: center;
		border: 2px solid $black;
		border-radius: $border-radius-small;
		cursor: pointer;
	}
	&__btn-read {
		position: relative;
		display: inline-block;
		padding-right: 41px;
		font-family: $Circe-bold;
		line-height: 1.33;
		color: $journal-blue;
		cursor: pointer;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 3px;
			right: 0;
			width: 20px;
			height: 19px;
			background-image: url('../assets/images/journal/arrow-right-blue.svg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}
	&-main-logo {
		display: inline-block;
		vertical-align: top;
		height: 26px;
		background-image: url('../assets/images/logos/logo.png');
		background-repeat: no-repeat;
		background-size: 20px 26px;
		background-position: 0 0;
		margin: 11px 0 0 0;
		padding: 0 0 0 37px;
		transition: all .3s ease;
		@include media(mobile) {
			height: 28px;
			margin-bottom: 0;
			padding-left: 29px;
			background-size: 20px 26px;
			background-position: 0 2px;
			line-height: 1;
		}
		&__name {
			display: inline-block;
			width: 179px;
			height: 24px;
			margin-top: 1px;
			background-image: url('../assets/images/logos/logo-name.png');
			background-repeat: no-repeat;
			background-size: 100%;
			@include media(mobile) {
				display: block;
				width: 120px;
				height: 16px;
			}
		}
	}
	&-main-logo-subtitle {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 11px;
		padding: 12px 0 9px 18px;
		font-family: $Circe-bold;
		font-size: 18px;
		line-height: 1.33;
		color: $white;
		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 2px;
			height: 32px;
			top: 7px;
			left: 0;
			background: $white;
		}
		@include media(mobile) {
			margin: -11px 0 0 29px;
			padding: 0;
			font-size: 12px;
			line-height: 1;
			&:before {
				display: none;
			}
		}
	}
	&-card,
	&-card-large {
		position: relative;
		width: 100%;
		height: 25.4em;
		color: $white;
		border-radius: $border-radius-medium;
		background-color: $journal-blue;
		-webkit-mask-image: -webkit-radial-gradient(white, black);
		overflow: hidden;
		cursor: pointer;
		@include media(mobile) {
			height: 303px;
			font-size: 11px;
		}
		&__bg {
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			@include dinamic-bg;
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				box-shadow: 0 20px 50px 0 rgba(15, 24, 44, 0.15);
				background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0.9));
			}
		}
		&__inside {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
			padding: 1.6em 2em 2.25em;
			z-index: 1;
			@include media(mobile) {
				padding: 1.8em 1.45em 2.7em;
			}
		}
		&__data {
			display: inline-flex;
		}
		&__title {
			display: block;
			max-height: 12.1em;
			margin-bottom: 1.5em;
			overflow: hidden;
			font-family: $Circe-bold;
			font-size: 24px;
			line-height: 1.5;
			letter-spacing: 0.13px;
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}
			@include media(mobile) {
				max-height: 8em;
				margin-bottom: 0;
				font-family: $Circe;
				line-height: 1.33;
			}
		}
		&__btn-read {
			opacity: 0;
			@include media(mobile) {
				display: none;
			}
		}
		&:hover &__btn-read {
			opacity: 1;
			transition: $ease-fast;
		}
	}
	&-card-large {
		border-radius: $border-radius-medium;
	}

	&-full-screen {
		min-height: 100%;
		margin-bottom: -986px;
		padding-bottom: 986px;
		@include media(tablet) {
			margin-bottom: -970px;
			padding-bottom: 970px;
		}
	}
}




