@font-face {
	font-family: 'CirceWebRegular';
	src: url('../fonts/Circe_Regular.woff2') format('woff2'),
	url('../fonts/Circe_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'CirceWebBold';
	src: url('../fonts/Circe_Bold.woff2') format('woff2'),
	url('../fonts/Circe_Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Oswald';
	src: local('Oswald Regular'), local('Oswald-Regular'),
	url('../fonts/Oswald-Regular.woff2') format('woff2'),
	url('../fonts/Oswald-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Oswald';
	src: local('Oswald Bold'), local('Oswald-Bold'),
	url('../fonts/Oswald-Bold.woff2') format('woff2'),
	url('../fonts/Oswald-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

@keyframes btn-active {
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes link-blank-hover  {
	48% {
		transform: translate(100%, -100%);
	}
	49% {
		transform: translate(-100%, 100%);
		animation-duration: 0s;
	}
	50% {
		transform: translate(-100%, 100%);
	}
	100% {
		transform: translate(0,0);

	}
}

@keyframes link-btn-hover  {
	48% {
		transform: translate(100%, 0);
	}
	49% {
		transform: translate(-100%, 0);
		animation-duration: 0s;
	}
	50% {
		transform: translate(-100%, 0);
	}
	100% {
		transform: translate(0,0);

	}
}

$icons8-var-black-twitter-logo: "\f104";
$icons8-var-down-long-arrow: "\f101";
$icons8-var-drop-down-arrow: "\f102";
$icons8-var-facebook-logo: "\f103";
$icons8-var-instagram-camera: "\f106";
$icons8-var-long-arrow-up: "\f100";
$icons8-var-medium: "\f105";
$icons8-var-vk-com: "\f108";
$icons8-var-youtube-play-button-logo: "\f107";

$blue: #24aded;//rgba(36, 173, 237, 1)
$blue-magenta: #2e00ff;
$orange: #FF6A0F;
$red: #FF2E0F;
$green: #C7ED24;
$grey: #333333;
$medium-grey: #f0f0f0;
$dark-grayish-azure: #52647a;
$dark-grayish-cyan: #4f6975;
$dark-gray: #595959;
$dark-grayish-blue: #191a25;
$dark-grayish-phthalo-blue: #2c2d3c;
$mostly-black: #020202;
$black: #000000;
$white: #ffffff;

$grey-text: #6a7a81;
$bg-grey: #1f2123;
$bg-grey-light: #F7F8F9;

/*smoke collection*/
$Smoke: #111213;
$Smoke90: #283135;//rgba(40, 49, 53, 1), f-color($Smoke90, 1)
$Smoke80: #3E4D53;//rgba(62, 77, 83, 1), f-color($Smoke80, 1)
$Smoke60: #6A7A81;//rgba(106, 122, 129, 1), f-color($Smoke60, 1)
$Smoke40: #7C8D94;//rgba(124, 141, 148, 1), f-color($Smoke40, 1)
$Smoke20: #A0B1B8;//rgba(160, 177, 184, 1), f-color($Smoke20, 1)
$Smoke10: #C5D2D8;//rgba(197, 210, 216, 1), f-color($Smoke10, 1)
/*orange collection*/
$Orange80: #F78740;//rgba(247, 135, 64, 1), f-color($Orange80, 1)
$Orange60: #FF934E;//rgba(255, 147, 78, 1), f-color($Orange60, 1)
$Orange20: #FFA770;//rgba(255, 167, 112, 1), f-color($Orange20, 1)
/*blue collection*/
$Blue80: #41BEFA;//rgba(65, 190, 250, 1), f-color($Blue80, 1)

$border-radius-btn: 12px;
$border-radius-btn-small: 8px;

$border-radius-small: 8px;
$border-radius-little: 12px;
$border-radius-medium: 20px;
$border-radius-large: 50px;
$border-radius-round: 50%;

$box-shadow10: (0px 2px 5px rgba(0, 0, 0, 0.1));
$box-shadow20: (0px 8px 16px rgba(0, 0, 0, 0.1));
$box-shadow40: (0px 16px 20px rgba(0, 0, 0, 0.1));
$box-shadow80: (0px 30px 40px rgba(0, 0, 0, 0.12));
$box-shadow100: (0px 50px 60px rgba(0, 0, 0, 0.15));

$Circe: 'CirceWebRegular','Arial',sans-serif;
$Circe-bold: 'CirceWebBold','Arial',sans-serif;
$Serif: 'EB Garamond',serif;

$ease: all .4s ease;
$ease-fast: all .2s ease;

@mixin media($point) {
	@if $point==desktop {
		@media screen and (min-width: 1400px) {@content;}
	}
	@else if $point==desktop-start {
		@media screen and (min-width: 1230px) {@content;}
	}
	@else if $point==tablet {
		@media screen and (max-width: 1024px) {@content;}
	}
	@else if $point==adaptive {
		@media screen and (max-width: 1000px) {@content;}
	}
	@else if $point==mobile {
		@media screen and (max-width: 767px) {@content;}
	}
	@else if $point==phone {
		@media screen and (max-width: 480px) {@content;}
	}
	@else if $point==phone-small {
		@media screen and (max-width: 374px) {@content;}
	}
}
//   @include media(mobile)
//   @include media(desktop-start)
//   @include media(phone-small)

@mixin retina {
	@media (-webkit-min-device-pixel-ratio: 1.5),
	(min--moz-device-pixel-ratio: 1.5),
	(-o-min-device-pixel-ratio: 3/2),
	(min-resolution: 1.5dppx) {@content;}
}
//@include retina {
//  background-image:url(img/bild@2x.png);
//  background-size: 200px 100px;
//}


@function calcFluidFontSize($f-min,$f-max,$v-min,$v-max) {
	$k: ($f-max - $f-min)/($v-max - $v-min);
	$b: $f-min - $k * $v-min;
	$b: $b * 1px;
	@return calc( #{$k} * 100vw + #{$b});
}
// How to use
//.calc-font {
//  font-size: calcFluidFontSize(30, 40, 320, 776);
//}

@function HexToRGB($hex) {
	@return red($hex), green($hex), blue($hex);
}

@function f-color($c, $a) {
	@return #{"rgba(#{HexToRGB($c)}, #{$a})"}
}
//How to use
//color:f-color($Smoke90, .5);

@mixin dinamic-bg {
	display: block;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

@mixin link-blank-hover {
	animation: link-blank-hover .6s cubic-bezier(0.58, -0.3, 0.64, 1.18) forwards;
}

@mixin link-btn-hover {
	animation: link-btn-hover .6s cubic-bezier(0.58, -0.3, 0.64, 1.18) forwards;
}

@mixin hover-opacity {
	&:hover {
		opacity: .8;
	}
}

@mixin btn-active {
	animation: btn-active .2s cubic-bezier(0.58, -0.3, 0.64, 1.18) forwards;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	outline-color: transparent;
	outline-width: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

html,body,.allcontent {
	height: 100%;
}

body {
	position: relative;
	font-family: $Circe;
	background: $white;
	color: $black;
	@media (prefers-color-scheme: dark) {
		background: $black;
		color: $white;
	}
}

section {
	width: 100%;
	position: relative;
}

a {
	cursor: pointer;
	color: inherit;
}

a,img {
	border: none;
	display: block;
	text-decoration: none;
}

input[type=text] {
	outline: none!important;
}

input[type=text],textarea {
	font-family: $Circe!important;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	border-radius: 0;
}

em {
	font-style: normal;
}

.dark-theme {
	background: $black;
	color: $white;
}

.mobile-hidden {
	@include media(mobile) {
		display: none!important;
	}
}

.desktop-hidden {
	display: none!important;
	@include media(mobile) {
		display: block!important;
	}
}

.desktop-only {
	@include media(tablet) {
		display: none!important;
	}
}

.adaptive-only {
	display: none!important;
	@include media(tablet) {
		display: block!important;
	}
}

::-webkit-input-placeholder {
	font-family: $Circe !important;
}

:-moz-placeholder {
	font-family: $Circe !important;
}

::-moz-placeholder {
	font-family: $Circe !important;
}

:-ms-input-placeholder {
	font-family: $Circe !important;
}