@import "settings";
@import "vars";
@import "modal";
@import "base";
@import "blocks/user";
@import "blocks/search";
@import "components/header";
@import "journal";
@import "blocks/grid";
@import "elements/icons";
@import "elements/btn";
@import "elements/btn-shadow";
@import "elements/btn-ghost";
@import "elements/btn-scale";
@import "elements/links";
@import "blocks/drop-down";
@import "elements/titles";
@import "elements/article-date";
@import "elements/article-time";
@import "components/tags-menu";
@import "blocks/aside";
@import "blocks/another-articles";
@import "components/hashtag";
@import "elements/clap";
@import "elements/tabs";
@import "components/main-menu";
@import "blocks/admin";
@import "blocks/article-data";
@import "blocks/article-signature";
@import "blocks/aside-menu";
@import "blocks/author";
@import "components/editor";
@import "blocks/share";
@import "components/card";
@import "elements/cards-set";
@import "components/presentation";
@import "components/cards-slider-large";
@import "blocks/slick";
@import "blocks/slider-cards";
@import "blocks/slider-card";
@import "elements/article";
@import "components/latest-news";
@import "pages/article-page";
@import "pages/main-page";

@import "components/footer";

@import "kit";

@import "../utils/editor.js";

.ProtectPassword {
  input {
    margin: auto;
    width: 200px;
    height: 30px;
    margin: 20px;
    font-size: 16px;
    padding: 0 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    color: $black;
  }
}

.Modal {
  &-transition {
    &-enter {
      opacity: 0;
    }
    &-enter-active {
      opacity: 1;
      transition: all 0.3s;
    }

    &-exit {
      opacity: 1;
    }

    &-exit-active {
      opacity: 0;
      transition: all 0.3s;
    }
  }

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 50px;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1999;
  &-body {
    background: #fff;
    margin: auto;
    max-width: 800px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
  }
  &-cover {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &-close {
    position: absolute;
    right: 10px;
    top: 0;
    margin: 10px;
    font-size: 40px;
    font-weight: 300;
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 9;
  }
  &-footer {
    text-align: right;
  }
}

.codex-editor__redactor {
  padding-bottom: 50px !important;
}
