:root {
	//buttons
		--btn-height: 56px;
		--btn-background: #{$blue};
		--btn-border-radius: #{$border-radius-btn};
		--btn-color: #{$white};
		--btn-font-size: 18px;
		--btn-line-height: 1.33;

		--btn-padding: 16px 22px;
		--btn-scale: scale(1);
	//buttons

	//links
		--link-font-size: 20px;
		--link-line-height: 1.3;
		--link-color: #{f-color($Smoke90, 1)};
		--link-leter-spacing: normal;
	//links

	//icons
		--icon-width: 24px;
		--icon-height: 24px;
		--icon-margin: 12px;

		--icon-arrow-btn-width: 15px;
		--icon-arrow-btn-height: 16px;

		--icon-arrow-blank-width: 11px;
		--icon-arrow-blank-height: 11px;

		--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($Smoke90, 1)}'/%3E%3C/svg%3E");
		--icon-arrow-blank: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2533 19.6372L19.2533 2.66666C19.2533 1.62526 18.4091 0.780989 17.3677 0.781054L0.397126 0.781057L0.397124 4.55226L12.8154 4.55226L0.0343365 17.3333L2.70101 20L15.4821 7.21893L15.4821 19.6372L19.2533 19.6372Z' fill='#{f-color($Smoke90, 1)}'/%3E%3C/svg%3E");

		--icon-plus-size: 16px;

		.card-full {
			.article-time__icon {
				--article-time-icon-margin: 5px;
				--icon-time-size: 15px 16px;
			}
		}

		.card {
			.article-time__icon {
				--article-time-icon-margin: 3px;
				--icon-time-position-bg: 50% 30%;
				--icon-time-size: 14px 15px;
			}
		}
	//icons

	//hashtags
		--hashtag-padding: 7px 14px 7px 13px;
		--hashtag-font-size: 18px;
		--hashtag-bg: transparent;
		--hashtag-color: #{$Smoke};
		.article {
			--hashtag-bg: #{black};
			--hashtag-color: #{$white};
		}
		.card {
			--hashtag-font-size: 14px;
			@include media(tablet) {
				--hashtag-padding: 7px 0 7px 13px;
			}
		}
		.card-full {
			--hashtag-padding: 7px 0 7px 13px;
			--hashtag-font-size: 18px;
			@include media(tablet) {
				--hashtag-padding: 7px 0 7px 13px;
			}
			@include media(mobile) {
				--hashtag-padding: 7px 0 7px 0;
				--hashtag-font-size: 14px;
			}
		}
		.card-row {
			--hashtag-padding: 0;
			--hashtag-font-size: 14px;
		}


	//hashtags

	.blue {
		//buttons
			--btn-border-color: #{$blue};
		//buttons

		//links
			--link-color: #{$blue};
		//links

		//icons
			--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($blue, 1)}'/%3E%3C/svg%3E");
			--icon-arrow-blank: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2533 19.6372L19.2533 2.66666C19.2533 1.62526 18.4091 0.780989 17.3677 0.781054L0.397126 0.781057L0.397124 4.55226L12.8154 4.55226L0.0343365 17.3333L2.70101 20L15.4821 7.21893L15.4821 19.6372L19.2533 19.6372Z' fill='#{f-color($blue, 1)}'/%3E%3C/svg%3E");
		//icons
	}
	.white {
		//buttons
			--btn-background: #{$white};
			--btn-border-color: #{$white};
			--btn-color: #{f-color($Smoke90, 1)};
		//buttons

		//links
			--link-color: #{$white};
		//links

		//icons
			--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($white, 1)}'/%3E%3C/svg%3E");
			--icon-arrow-blank: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2533 19.6372L19.2533 2.66666C19.2533 1.62526 18.4091 0.780989 17.3677 0.781054L0.397126 0.781057L0.397124 4.55226L12.8154 4.55226L0.0343365 17.3333L2.70101 20L15.4821 7.21893L15.4821 19.6372L19.2533 19.6372Z' fill='#{f-color($white, 1)}'/%3E%3C/svg%3E");
		//icons
	}
	.black {
		//buttons
			--btn-background: #{$black};
			--btn-color: #{$white};
			--btn-border-color: #{$black};
		//buttons

		//icons
			--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($black, 1)}'/%3E%3C/svg%3E");
			--icon-time:  url("data:image/svg+xml,%3Csvg width='18' height='20' viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 0V2.05859C3.50985 2.55892 0 6.37964 0 11C0 15.9587 4.04128 20 9 20C13.9587 20 18 15.9587 18 11C18 6.37964 14.4901 2.55892 10 2.05859V0H8ZM9 4C12.8778 4 16 7.12216 16 11C16 14.8778 12.8778 18 9 18C5.12216 18 2 14.8778 2 11C2 7.12216 5.12216 4 9 4ZM8 11.4141V6H10V10.5859L12.707 13.293L11.293 14.707L8 11.4141Z' fill='#{f-color($Smoke, 1)}'/%3E%3C/svg%3E ");
		//icons
	}
	.orange {
		//buttons
			--btn-background: #{$orange};
			--btn-border-color: #{$orange};
		//buttons

		//links
			--link-color: #{$orange};
		//links

		//icons
			--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($orange, 1)}'/%3E%3C/svg%3E");
			--icon-arrow-blank: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2533 19.6372L19.2533 2.66666C19.2533 1.62526 18.4091 0.780989 17.3677 0.781054L0.397126 0.781057L0.397124 4.55226L12.8154 4.55226L0.0343365 17.3333L2.70101 20L15.4821 7.21893L15.4821 19.6372L19.2533 19.6372Z' fill='#{f-color($orange, 1)}'/%3E%3C/svg%3E");
		//icons
	}
	.red,.a-error {
		//buttons
			--btn-background: #{$red};
			--btn-border-color: #{$red};
		//buttons

		//links
			--link-color: #{$red};
		//links

		//icons
			--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($red, 1)}'/%3E%3C/svg%3E");
			--icon-arrow-blank: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2533 19.6372L19.2533 2.66666C19.2533 1.62526 18.4091 0.780989 17.3677 0.781054L0.397126 0.781057L0.397124 4.55226L12.8154 4.55226L0.0343365 17.3333L2.70101 20L15.4821 7.21893L15.4821 19.6372L19.2533 19.6372Z' fill='#{f-color($red, 1)}'/%3E%3C/svg%3E");
		//icons
	}
	.green,.a-success {
		//buttons
			--btn-background: #{$green};
			--btn-border-color: #{$green};
			--btn-color: #{$black};
		//buttons

		//links
			--link-color: #{$green};
		//links

		//icons
			--icon-arrow-btn: url("data:image/svg+xml,%3Csvg width='26' height='28' viewBox='0 0 26 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7386 0.666687L24.7386 12.6667C25.475 13.4031 25.475 14.597 24.7386 15.3334L12.7386 27.3334L10.0719 24.6667L18.853 15.8857H0.777832V12.1144H18.853L10.0719 3.33335L12.7386 0.666687Z' fill='#{f-color($green, 1)}'/%3E%3C/svg%3E");
			--icon-arrow-blank: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2533 19.6372L19.2533 2.66666C19.2533 1.62526 18.4091 0.780989 17.3677 0.781054L0.397126 0.781057L0.397124 4.55226L12.8154 4.55226L0.0343365 17.3333L2.70101 20L15.4821 7.21893L15.4821 19.6372L19.2533 19.6372Z' fill='#{f-color($green, 1)}'/%3E%3C/svg%3E");
		//icons
	}

	.size-xl {
		//buttons
			--btn-height: 84px;
			--btn-font-size: 24px;
			--btn-line-height: 1.33;
			--btn-padding: 26px 40px;
		//buttons

		//links
			--link-font-size: 40px;
			--link-line-height: 1.2;
			--link-leter-spacing: -0.4px;
		//links

		//icons
			--icon-width: 40px;
			--icon-height: 40px;

			--icon-arrow-btn-width: 25px;
			--icon-arrow-btn-height: 26px;
			--icon-arrow-blank-width: 20px;
			--icon-arrow-blank-height: 20px;

			--icon-plus-size: 24px;
		//icons
	}
	.size-l {
		//buttons
			--btn-height: 76px;
			--btn-font-size: 20px;
			--btn-line-height: 1.3;
			--btn-padding: 25px 30px;
		//buttons

		//links
			--link-font-size: 32px;
			--link-line-height: 1.25;
			--link-leter-spacing: -0.32px;
		//links

		//icons
			--icon-width: 40px;
			--icon-height: 40px;

			--icon-arrow-btn-width: 25px;
			--icon-arrow-btn-height: 26px;
			--icon-arrow-blank-width: 20px;
			--icon-arrow-blank-height: 20px;

			--icon-plus-size: 24px;
		//icons
	}
	.size-s {
		//buttons
			--btn-height: 44px;
			--btn-padding: 10px 22px;
			--btn-font-size: 16px;
			--btn-line-height: 1.5;
		//buttons

		//links
			--link-font-size: 18px;
			--link-line-height: 1.33;
		//links
	}
	.size-xs {
		//buttons
			--btn-height: 28px;
			--btn-padding: 2px 14px;
			--btn-font-size: 16px;
			--btn-line-height: 1.5;
			--btn-border-radius: #{$border-radius-small};
		//buttons

		//links
			--link-font-size: 16px;
			--link-line-height: 1.5;
		//links
	}
}